/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #e9e9e9 !default;
$positive:                        #2d3642 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #eb5c28 !default;
$assertive:                       #ef473a !default;
$dark:                            #444 !default;
$sc-light:                        #e9e9e9 !default;

.gray {
    color : #999999;
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/modules/start/StartStyles.scss";
@import "www/modules/signin/SigninStyles.scss";
@import "www/modules/signup/SignupStyles.scss";
@import "www/modules/homescreen/HomescreenStyles.scss";
@import "www/modules/rssfeed/RssfeedStyles.scss";
@import "www/modules/questions/QuestionsStyles.scss";
@import "www/modules/community/CommunityStyles.scss";
@import "www/modules/directory/DirectoryStyles.scss";
@import "www/modules/library/LibraryStyles.scss";
@import "www/modules/survey/SurveyStyles.scss";
@import "www/modules/events/EventsStyles.scss";
@import "www/modules/quiz/QuizStyles.scss";
@import "www/modules/settings/SettingsStyles.scss";

// Fonts
@font-face {
    font-family: 'AvenirNext-Regular';
    src:url('../fonts/AvenirNext/AvenirNext-Regular.eot');
    src:url('../fonts/AvenirNext/AvenirNext-Regular.eot') format('embedded-opentype'),
        url('../fonts/AvenirNext/AvenirNext-Regular.woff') format('woff'),
        url('../fonts/AvenirNext/AvenirNext-Regular.ttf') format('truetype'),
        url('../fonts/AvenirNext/AvenirNext-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src:url('../fonts/AvenirNext/AvenirNext-DemiBold.eot');
    src:url('../fonts/AvenirNext/AvenirNext-DemiBold.eot') format('embedded-opentype'),
        url('../fonts/AvenirNext/AvenirNext-DemiBold.woff') format('woff'),
        url('../fonts/AvenirNext/AvenirNext-DemiBold.ttf') format('truetype'),
        url('../fonts/AvenirNext/AvenirNext-DemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src:url('../fonts/AvenirNext/AvenirNext-Medium.eot');
    src:url('../fonts/AvenirNext/AvenirNext-Medium.eot') format('embedded-opentype'),
        url('../fonts/AvenirNext/AvenirNext-Medium.woff') format('woff'),
        url('../fonts/AvenirNext/AvenirNext-Medium.ttf') format('truetype'),
        url('../fonts/AvenirNext/AvenirNext-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src:url('../fonts/Avenir/Avenir-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaBookLF-Roman';
    src:url('../fonts/MetaBookLF-Roman/MetaBookLF-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaBoldLF-Roman';
    src:url('../fonts/MetaBoldLF-Roman/MetaBoldLF-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-light';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url('../fonts/Oswald/Oswald-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}

.platform-ios .noConnectionBanner {
    height:44px;
    width:100%;
    position:absolute;
    z-index:10;
    top:20px;
}

.platform-android .noConnectionBanner {
    height:44px;
    width:100%;
    position:absolute;
    z-index:10;
}

.platform-ios.keyboard-open {
    .popup-container {
        padding-top: 70px;
        align-items: flex-start;
    }
}

.popover, .popover .bar-header{
    border-radius: 5px;
}

.popover-backdrop.active{
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-buttons .button:only-child{
    border-radius: 0 0 5px 5px;
}

.loading {
    background:white !important;
    color:black !important;
    font-weight:bold;
}

ion-view {
	background-position: cover no-repeat;
	background-size: 100% 100%;
}

.nav-bar-block, .bar {

}

hr{
    opacity: 0.2;
}

h2 {
    font-family: AvenirNext-DemiBold;
    font-size: 16px;
}

h3 {
    font-family: AvenirNext-Medium;
}

h4 {
    font-family: AvenirNext-DemiBold;
}

h5 {
    font-family: AvenirNext-Medium;
    font-size: 14px;
}

body{
    font-family: AvenirNext-Regular;
}

input, button, select, textarea {
    font-family: AvenirNext-Regular;
}

.pane{
    background-size: cover;
}

.title{
    font-family: AvenirNext-DemiBold;
}

.item p{
    font-size: 15px;
}

.border-none {
    border : none;
}

.item-divider{
    background: $stable;
}

.post-meta{
    font-size: 14px;
    color: #c8c8c8;
}

.readmore{
    font-size: 15px;
    color: #000;
    opacity: 0.4;
}

.poweredBy{
    background: #2d3642 url(../img/poweredBy.png) no-repeat scroll 50% 50% / 200px auto;
    border-radius: 5px;
    display: block;
    height: 40px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 170px;
}

.badge{ /* because of avenir font */
    padding: 4px 8px;
    border-radius: 4vw;
}

.max400 {
    max-width: 400px;
    margin: 0px auto;
}

.max600 {
    max-width: 600px;
    margin: 0px auto;
}

.nopadding{
    padding: 0;
}

.col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 9%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 9%;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    max-width: 9;
}

.col-13 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 13%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 13%;
    -ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15;
}

.col-82 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 82%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 82%;
    -ms-flex: 0 0 82%;
    flex: 0 0 82%;
    max-width: 82;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
  text-align:center;
}

.scroll {
  min-width: 100%;
}

.invisible1 {
    opacity:0;
}

.bar {
    border:none !important;
    box-shadow:none !important;
    background-image:none !important;
}

/* for non-modal full-width footer button */
.button-bar{
    padding: 0;
}

.button-bar .button-block,
.button-bar .button-full{
    margin: 0;
    min-height: auto;
    line-height: 44px;
    border-radius: 0!important;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}
/****/

.nav-bar-block .bar-header .button{
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav-bar-block .bar-header .back-button{
    color: $dark;
}

.play4Video {
    max-width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:0px;
    bottom:0;
    z-index:1;
}

.link-text {
    text-decoration:none;
}

.modal-backdrop {
    background:rgba(0,0,0,0.5);
}

.gallery-modal-open.modal-open {
    background-color: black !important;

    .view-container {
        display: none !important;
    }
}

.slider-pager .slider-pager-page {
  color:white !important;
  font-size:12px;
}

.bottom-row, .directory-content {
  .avatar-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    text-align: center;
  }
  .initials {
    font-size: 16px;
    line-height: 2.2;
  }
}

.slide-comments, .slide-likes {
  .avatar-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left:-50px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid;
    margin-top:2px;
    font-size:14px;
  }
  .initials {
    position: relative;
    top: 14px; /* 25% of parent */
    font-size: 20px; /* 50% of parent */
    line-height: 0px; /* 50% of parent */
    font-weight: bold;
  }
}
/*circle color background on avatar*/
.avatar-circle.color-0 {color: #fff;  background-color: #f41717;}
.avatar-circle.color-1 {color: #fff;  background-color: #df4588;}
.avatar-circle.color-2 {color: #fff;  background-color: #ae6acf;}
.avatar-circle.color-3 {color: #fff;  background-color: #4f5fcd;}
.avatar-circle.color-4 {color: #fff;  background-color: #62afcc;}
.avatar-circle.color-5 {color: #fff;  background-color: #48c09a;}
.avatar-circle.color-6 {color: #fff;  background-color: #55b33d;}
.avatar-circle.color-7 {color: #fff;  background-color: #e2d61e;}
.avatar-circle.color-8 {color: #fff;  background-color: #edab39;}
.avatar-circle.color-9 {color: #fff;  background-color: #000000;}
.avatar-circle.color-10 {color: #fff; background-color: #989898;}


/* Media queries */

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {



    }

/* iPhone 6+ */
@media only screen and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {



    }

/* iphone 6 */
@media only screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {



    }

/* HTC One / Sony Xperia Z / Samsung Galaxy S5 */
@media only screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {



    }

/* Samsung Galaxy S4 */
@media only screen and (device-width: 320px) and (device-height: 640px) and (orientation: portrait) {



    }

/* iphone 5/5s */
@media only screen and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {



    }

/* iphone 4 */
@media only screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {



    }
