<ion-side-menus>
  <ion-side-menu-content>
  	<div ng-if="!$root.isOnline" class="noConnectionBanner bar bar-assertive">
  		<div class="title">No network connection</div>
  	</div>
    <ion-nav-bar class="" ng-style="{'background-color': currentView == 'app.homescreen' || currentView == 'app.start' ? $root.config.homescreen.header.headerBar.backgroundColor:$root.config.global.theme.headerColor}">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>