  <ion-modal-view class="stable-bg">
	  <ion-content class="padding">
		
		<div class="item item-image item-stable padding" style="border:none;">
			<img ng-src="{{$root.config.homescreen.header.headerBar.imageUrl}}" />
		</div>
		<br/>
	  	<h2 class="dark" ng-if="!version.forced"><center>New version available</center></h2>
	  	<h2 class="dark" ng-if="version.forced"><center>New version available. Please update the app to continue using {{$root.config.global.info.name}}.</center></h2>
	  	<br/>
	  	<div class="button button-block button-positive" ng-click="updateApp()">Update Now</div>
	  	<div class="button button-block button-positive" ng-click="closeUpdateModal()" ng-if="!version.forced">Update Later</div>
	  </ion-content>
  </ion-modal-view>