<ion-view class="stable-bg" hide-back-button="true">
    <!-- <ion-nav-bar align-title="center">
      <ion-nav-buttons side="primary">
      <a class="button button-icon button-clear header-item custom-back" href="#/app/homescreen">
        <i class="ion-ios-arrow-back"></i>
      </a>
    </ion-nav-buttons> -->
	<ion-nav-buttons side="left">
		<button class="button button-icon" style="text-align: left; background: none;" ui-sref="app.homescreen"><i class="icon ion-ios-arrow-back"></i></button>
	</ion-nav-buttons>
      <ion-nav-title> {{vm.feature.name}} </ion-nav-title>
    <!-- </ion-nav-bar> -->
	<ion-content class="quiz-content">
		<!-- <div class="intro light-bg" ng-if="vm.feature.options.intro.text">
			<div class="col col-15">
				<i ng-class="vm.feature.options.intro.icon"></i>
			</div>
			<div class="col">
				<p ng-bind="vm.feature.options.intro.text"></p>
			</div>
		</div> -->

		<ion-list>
	        <ion-item class="quiz-label" ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor, 'color':vm.feature.options.theme.listDivider.textColor}" ng-bind="vm.feature.options.messages.takeQuiz"></ion-item>
	        <ion-item dir="auto" class="item quiz-item" href="#/app/{{vm.featureIndex}}/quiz/questions/{{quiz.id}}" ng-repeat="quiz in vm.activeQuizList | orderBy:'-id':reverse track by $index">
	          {{quiz.name}}
	        </ion-item>
	        <div ng-if="vm.activeQuizList.length == 0" class="no-quiz-avail" ng-bind="vm.feature.options.messages.noLiveQuiz"></div>
        </ion-list>
        <ion-list ng-if="vm.activeQuizList.length != 0">
          <ion-item class="quiz-label" ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor, 'color':vm.feature.options.theme.listDivider.textColor}" ng-bind="vm.feature.options.messages.leaderboard"></ion-item>
          <ion-item href="#/app/{{vm.featureIndex}}/quiz/leaderboard/{{quiz.id}}" dir="auto" class="item quiz-item" ng-repeat="quiz in vm.activeQuizList | orderBy:'-id':reverse track by $index">
            <i class="ion-trophy"></i> {{quiz.name}}
          </ion-item>
        </ion-list>

	</ion-content>
</ion-view>
