<ion-view view-title="Leaderboard" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button class="button button-icon" style="text-align: left; background: none;" ui-sref="app.quiz({featureIndex:vm.featureIndex})"><i class="icon ion-ios-arrow-back"></i></button>
  </ion-nav-buttons>

  <ion-content class="quiz-content">
    <div dir="auto" ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor, 'color':vm.feature.options.theme.listDivider.textColor}" class="quiz-label" ng-if="leaderboardData != ''">
      {{ vm.quizName | limitTo:17}}
    </div>

    <ion-list>
        <ion-item class="item noLeaderBoardAvai" ng-if="leaderboardData == ''">No Results Available</ion-item>
        <ion-item class="item lb-item row" ng-repeat="leaderboardUsersItem in leaderboardData | orderBy:['-points','time']" ng-if="leaderboardUsersItem.firstname != ''" ng-class="leaderboardUsersItem.user == vm.currentUser.username ? 'dark-bg' : 'light-bg'">
          <!-- <span class="lb_count">{{ $index + 1 }}</span> -->
          <div class="lb_username col-67">{{ $index + 1 }} &nbsp;&nbsp;{{ leaderboardUsersItem.firstname }} {{ leaderboardUsersItem.lastname }} </div>
          <div class="lb_time col-15">{{leaderboardUsersItem.time | secondsToHHmmss}}</div>
          <div class="lb_time col-15">{{ leaderboardUsersItem.points }}/{{ vm.quesLength }}</div>
          {{quiz.name}}
        </ion-item>

        <div ng-if="quizList.length == 0">
          There are no available quizes.
        </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="lb_footer" ng-repeat="leaderboardUsersItem in leaderboardData | orderBy:['-points','time']" ng-if="(leaderboardUsersItem.user == vm.currentUser.username) && (leaderboardUsersItem.firstname != '')">
      <div class="quiz-label" ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor, 'color':vm.feature.options.theme.listDivider.textColor}">Your score</div>
      <div class="score-item dark-bg row">
        <div class="col-67">{{ $index + 1 }} &nbsp;&nbsp;{{ leaderboardUsersItem.firstname }} {{ leaderboardUsersItem.lastname }}</div>
        <div class="lb_time col-15">{{ leaderboardUsersItem.time | secondsToHHmmss }}</div>
        <div class="lb_time col-15">{{ leaderboardUsersItem.points }}/{{ vm.quesLength }}</div>
    </div>
  </ion-footer-bar>
</ion-view>
