<ion-view class="stable-bg">
    <ion-nav-title dir="auto"> {{ quizData['info']['0']['name'] | limitTo:17}}... </ion-nav-title>
    <ion-content class="quiz-content">
      <div class="quiz-subheader secondary-bgcolor" ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor, 'color':vm.feature.options.theme.listDivider.textColor}">
          <div class="quiz_timer">Timer <timer interval="1000" start-timer="countdownVal">{{mminutes}}:{{sseconds}}</timer></div>
      </div>
      <div ng-repeat="ques in quesArray" ng-init="parentIndex = $index">
        <div ng-if="question_index == $index">
          <div class="ques_title" dir="auto">
            {{ques.name}}
          </div>
          <ion-list>
              <ion-radio class="card quiz_ans item-text-wrap" ng-repeat="ans in ansArray  | orderBy:'-id':true track by ans.id" ng-if="ans.quiz_question == ques.id" ng-model="response[question.id]" name="response[{{question.id}}]" ng-value="answer.id" ng-click="disableButton || next(ans.quiz_question, ans.id, parentIndex)" id="aid_{{ans.id}}" ng-disabled="disableButton">{{ans.value}}</ion-radio>
          </ion-list>
          <!-- <div class="quiz-footer">
            <span class="quiz-ques-count">{{ $index + 1 }} / {{ totalQues }}</span>
          </div> -->
        </div>
      </div>

    </ion-content>
    <ion-footer-bar>
          <div class="quiz-footer">
            <span class="quiz-ques-count">{{ question_index + 1 }} / {{ totalQues }}</span>
          </div>
  </ion-footer-bar>
</ion-view>
