.pane {
	.ion-ios-arrow-back{
		color:$dark;
	}
	.custom-back{
		font-size:32px !important;
	}
	.custom-back .ion-ios-arrow-back{
		float: left !important;
    	margin-left: 4px !important;
	}
	.quiz-content {
		background: $sc-light;

		.intro{
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			font-size: 5vw;
			line-height: 1.4;
			padding: 3vw;

			font-family: "Oswald";
			font-size: 4.5vw;
			color: #888;

			.col-15{
				text-align: center;

				i{
					position: relative;
				    font-size: 10vw;
				    transform: translateY(-50%);
				    top: 50%;
				}
			}

			p:last-of-type{
				margin-bottom: 0;
			}
		}
		.scroll{
			height:100%;
		}
		.quiz-label{
			padding: 4px 10px;
			color:$light;
		}
		.item.quiz-item {
			border:0;
			margin: 2%;
    		border-radius: 4px !important;
		}

		.item.leaderboard-item {
			border:0;
			margin: 2%;
    		border-radius: 4px !important;
		}
		.leaderboard-item a{
			background-color: $dark;
		}

		.item.leaderboard-item .item-content {
		    padding: 9px 10px 9px 12px;
		    border-radius: 3px;
		    color: $light;
		    background-color:$dark;

		}
		.item.quiz-item .item-content {
		    padding: 9px 10px 9px 12px;
		    border-radius: 3px;
		    color: $dark;
		    background-color:$light;
		}

		.quiz-content .noBorder{
			border:0 !important;
		}
		.quiz-check .item-content{
			background:$calm !important;
			text-align: center;
		}
		.availQuiz{
			color: #000000 !important;
			border: 0;
		}
		.item-radio .item-content{
			text-align: center;
		    background-color: $calm;
		}
		.quiz_ans.correctAns .item-content{
			background: #72c20b !important;
			color: $light !important;
		}
		.quiz_ans.correctAns .item-content::after {
		 	content: url(img/tick.png);
		    z-index: 99999999;
		    margin-right: 0px;
		    display: block;
		    float: right;
		    position: absolute;
		    top: 4px;
		    right: 1px;
		}
		.quiz_ans.wrongAns .item-content::after {
		    content: url(img/cross.png);
		    z-index: 99999999;
		    margin-right: 0px;
		    display: block;
		    float: right;
		    position: absolute;
		    top: 4px;
		    right: 1px;
		}
		.quiz_ans.wrongAns .item-content{
			background: #ec371a !important;
			color: $light !important;
		}
		.ques_title{
			background: $light;
		    font-size: 16px;
		    padding: 4%;
		}

		.quiz_ans .item-content{
		    background: $dark !important;
		    text-align: center !important;
		    padding: 10px 10px 10px 0px !important;
		    color: $light !important;
		    height: auto !important;
		    font-size: 18px;
		}
		.quiz_ans .radio-icon{
			display: none;
		}
		.quiz_counter{
		    margin: 0 auto;
		    display: block;
		    text-align: center;
		    font-size: 18px;
		    margin-top: 15px;
		}
		.quiz_timer{
		    text-align: left;
		    width: auto;
		    display: inline-block;
		    float: left;
		    font-size: 16px;
		    padding-top: 4px;
		    padding-left: 6px;
		}
		.quiz-subheader{
		    height: 30px;
		    color: $light;
		    background-color: $dark;
		}
		.has-quiz-subheader{
		    top: 75px;
		    position: absolute;
		}

		.quiz_ans.item{
			border: 0;
		}
		.card.quiz_ans{
			margin: 10px;
			box-shadow: none;
		}
		.leaderboard_submit_quiz .quiz-section{
		    color: $light;
		    padding: 5px 10px;
		    font-size: 15px;
		    border: 0;
		    margin-bottom: 10px;
		}
		.quiz .item.quiz-item{
		    font-size: 17px;
		    padding: 7px 10px;
		    padding-bottom: 0;
		    border: 0;
		    text-transform: capitalize;
		}
		.quiz .item.quiz-item .item-content{
		    padding: 9px 46px 9px 12px;
		    border-radius: 3px;
		    color: $dark;
		}
		.quiz .item.leaderboard-item{
		    font-size: 17px;
		    padding: 8px 11px;
		    padding-bottom: 8px;
		    border: 0;
		    margin: 5px 9px;
		    margin-bottom: 8px;
		    border-radius: 3px;
		    text-transform: capitalize;
		}
		.quiz .item.leaderboard-item .item-content{
		    padding: 9px 46px 9px 12px;
		    border-radius: 3px;
		    color: #000000;
		}
		.lb-item{
		    padding: 0px;
		    border: 0;
		    margin: 2% 2%;
		    font-size: 15px;
		    padding: 2%;
		    width: 96%;
		}
		.lb-item.dark-bg{
			color: $light;
		}
		.lb_count{
		    display: inline-block;
		    margin-right: 10px;
		}
		.lb_username{
		    display: inline-block;
		}
		.lb_points{
		    display: inline-block;
		    float: right;
		}
		.lb_time{
		    display: inline-block;
		    text-align:right;
		}
		.lb-content{

		}
		.your-score{
		    width: 100%;
		    clear: both;
		    height: 30px;
		    font-size: 15px;
		    padding: 5px;
		    text-transform: capitalize;
		}

		.score-item{
		    margin: 1% 3%;
		    padding: 2%;
		    font-size: 15px;
		}
		.lb_footer{
		    margin: 0;
		    padding: 0;
		    display: block;
		    height: 76px;
		}
		.my-score{
		    margin: 1% 3%;
		    padding: 2%;
		    font-size: 15px;
		    background: $dark !important;
		    color: $light;
		}
		.quiz-content .scroll{
		    position: relative;
		    height: 100%;
		}
		.quiz-footer {
		    position: absolute;
		    bottom: 0px;
		    width: 100%;
		    height: 34px;
		}
		.quiz-ques-count {
		    width: 100%;
		    text-align: center;
		    font-size: 17px;
		    margin-top: 4px;
		    float: right;
		}
		.bar.bar-positive .title.header-item {
		    text-transform: capitalize;
		}
		.noLeaderBoardAvai{
		     border: 0;
		    text-align: Center;
		    font-style: italic;
		}
		.score-item{
			display:block;
			width:100%;
		}
		.my-score{

		}
		.no-quiz-avail{
			text-align: center;
		    display: block;
		    margin: 10px 0;
		}

	}
	.lb_footer{
		padding: 0;
		height: 68px;
	}
	.quiz-label{
		color: $light;
		padding: 4px 10px;
	}
	.score-item.row{
		color: $light;
	    margin: 1% 2%;
		width: 96%;
	}
	.lb_time {
		text-align: right;
	}

	.quiz-footer {
	    width: 100%;
	    padding: 3px 5px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
	}

	.quiz-footer .quiz-ques-count {
	    font-size: 17px;
	    line-height: 17px;
	    padding: 5px;
	    width: 100%;
	    border-radius: 3px;
	    text-align: center;
	}

}

/* modal popup styles */
.popup-container .popup{
	border-radius: 5px;
	background-color: #ffffff;
}
.popup-title{

	font-size: 18px;
}
.your_score{
	color:$dark;
    font-size: 16px;
    text-align: Center;
}
.tola_score{
	width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.popup-buttons{
	padding:0;
	min-height: 40px;
	margin-top: 15px;
}
.popup-buttons .button{
	margin-right: 0;
    min-height: 40px;
    height: 40px;
    bottom: 0;
}
.popup-container .popup{
	width: 280px;
}
.popup-head {
    padding: 15px 10px;
    border-bottom: 0px solid #eee;
    text-align: center;
}
.in{
	/*background-color: $dark;
	color:$light;*/
	width: 30px;
    height: 30px;
    display: inline-block;
    padding: 0px;
    border-radius: 15px;
    padding-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
.popup_time, .tola_quiz_count{
	display:inline-block;
}
.popup-buttons .button:last-child {
    border-radius: 0 0 5px 0px;
}
.popup-buttons .button:first-child {
    border-radius: 0 0 0px 5px;
}
.popup-body{
	text-align:center;
}
