.pane {

	.survey-content {

		background: $sc-light;

		height: auto !important;
		overflow-x: hidden;
		.scroll{
			position: relative;
    		height: 100%;
		}
		.intro{
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			font-size: 5vw;
			line-height: 1.4;
			padding: 3vw;

			font-family: "Oswald-Regular";
			font-size: 4.5vw;
			color: #888;

			.col-15{
				text-align: center;

				i{
					position: relative;
				    font-size: 10vw;
				    transform: translateY(-50%);
				    top: 50%;
				}
			}

			p:last-of-type{
				margin-bottom: 0;
			}
		}

		.survey-label{
			padding: 4px 10px;
		}
		.survey-title{


			margin: 2%;
			border-radius: 4px !important;
			padding: 0;

			&.completed-survey a{
				background: #b6b6b6;
			}
		}
		.survey-title a{
			padding:7px 10px 7px 16px;
		}

		.survey-ques-count {
		    width: 41%;
		    margin: 0 auto;
		    text-align: center;
		    display: inline-block;
		    font-size: 17px;
		    margin-top: 4px;
		    float: right;
		}
		.survey-title i{
			float:right;
			font-size: 20px;
		}
		.ques_title{
			border:0;
			box-shadow: none;
			font-size: 16px;
			padding: 4%;
			background: #ffffff;
		}
		.survey-info {
			background-color: #aeaeae;
			padding: 3px 8px 5px 8px;
		}
		.survey-info i {
		    font-size: 16px;
		    color: #565656;
		}
		.survey-info span {
		    font-style: italic;
		    margin-left: 4px;
		    color: #565656;
		}
		.survey_ans {
		    background: #ffffff !important;
		    border: 0;
		    margin: 10px;
		    padding: 8px 0px 6px 46px;
		    height: auto;
		    border-radius: 3px;
		}
		.survey_ans .checkbox-icon {
		    margin-left: -8px;
		}
		.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
		    background: $dark;
		    border-color: $dark;
		}
		.survey-content .scroll {
		    position: relative;
		    height: 100%;
		}

		.survey_ans_radio {
		    background: #ffffff !important;
		    border: 0;
		    margin: 10px;
		    padding: 0px 0px 2px 0px;
		    height: auto;
		    border-radius: 3px;
		}
		.survey_ans_radio.item-radio .item-content {
		    padding: 9px 49px 8px 16px;
		}
		.survey_ans_radio.item-radio .radio-icon {
		    padding-top: 5px;
		    color: $dark !important;
		}
		.survey_ans .item-content{
			white-space:normal;
		}
		.next-survey.activate-next-button{
			background: $dark;
		}
		.survey-title.completed-survey a{
		}
		.no-survey-avail{
			text-align: center;
		    display: block;
		    margin: 10px 0;
		}





	}



	.survey-footer {
	    /*position: relative;
	    bottom: 0px;*/
	    width: 100%;
	    /*height: 44px;*/
	    padding: 3px 5px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
	}

	.survey-footer a {
	    background: #777777;
	    color: #ffffff;
	    font-size: 17px;
	    line-height: 17px;
	    padding: 5px;
	    width: 100px;
	    border-radius: 3px;
	    text-align: center;
	}

	.prev-survey {
	    background: $dark;
	    color: #ffffff;
	}

	.next-survey {
	    background: #777777;
	    color: #ffffff;
	}

	.prev-survey i{
	    float: left;
	}

	.next-survey i{
	    float: right;
	}	

}


