 <ion-view view-title="{{vm.feature.name}}" class="">
	<ion-content class="survey-content">
		<div class="intro light-bg" ng-if="vm.feature.options.intro.text">
			<div class="col col-15">
				<i ng-class="vm.feature.options.intro.icon"></i>
			</div>
			<div class="col">
				<p ng-bind="vm.feature.options.intro.text"></p>
			</div>
		</div>
		<div ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor, 'color':vm.feature.options.theme.listDivider.textColor}" class="survey-label" ng-show="vm.liveSurveys" ng-bind="vm.feature.options.messages.liveSurveys"></div>
		<ion-list>
			<span class="no-survey-avail" ng-show="vm.noSurveyAvail" ng-bind="vm.feature.options.messages.noLiveSurvey"></span>
			<ion-item dir="auto" class="survey-title" href="#/app/{{vm.featureIndex}}/survey/questions/{{survey.id}}" ng-repeat="survey in vm.incompleteSurvey | orderBy:'-id':reverse track by $index" ng-if="survey.type == 1 && survey.published == 1">
				{{survey.name}}
			</ion-item>
		</ion-list>
			<div ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor, 'color':vm.feature.options.theme.listDivider.textColor}" ng-class="vm.feature.options.surveyBar" class="survey-label" ng-if="vm.completedSurvey.length != 0" ng-bind="vm.feature.options.messages.completedSurveys"></div>
		<ion-list>
			<!-- <ion-item href="" class="survey-title completed-survey" ng-repeat="item in vm.completedSurvey" ng-if="item.type == 1 && item.published == 1" ng-style="{'background':vm.feature.options.theme.listDivider.backgroundColor}">
				{{item.name}} <i class="ion-checkmark-circled"></i>
			</ion-item> -->
			<ion-item dir="auto" href="" class="survey-title completed-survey" ng-repeat="item in vm.completedSurvey" ng-if="item.type == 1 && item.published == 1">
				&nbsp;{{item.name}} <i class="ion-checkmark-circled"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
