<ion-view class="stable-bg">
    <ion-nav-title dir="auto"> {{ quizData['info']['0']['name'] | limitTo:17}}... </ion-nav-title>
    <ion-content class="survey-content has-footer">
        <div ng-repeat="question in quizData.questions track by question.id" ng-if="question_index == $index">
          <div dir="auto" class="ques_title">
            {{question.name}}
          </div>
          <div ng-switch="question.type">
            <div ng-switch-when="1">
              <div class="survey-info"><i class="ion-information-circled"></i> <span>Enter free text</span></div>
              <div class="list list-inset">
                <label class="item item-input survey-free-text">
                  <textarea dir="auto" rows="7" ng-model="response[question.id]"></textarea>
                </label>
              </div>
            </div>
            <div ng-switch-when="2">
              <div class="survey-info"><i class="ion-information-circled"></i> <span>Make one selection</span></div>
              <ion-list>
                <ion-radio dir="auto" class="survey_ans_radio item-text-wrap" ng-repeat="answer in quizData.answers  | orderBy:'-id':true track by answer.id" ng-if="answer.quiz_question == question.id" ng-model="response[question.id]" name="response[{{question.id}}]" ng-value="answer.id">{{answer.value}}</ion-radio>
              </ion-list>
            </div>
            <div ng-switch-when="3">
              <div class="survey-info"><i class="ion-information-circled"></i> <span>Make multiple selections</span></div>
              <ion-list>
                <ion-checkbox class="survey_ans item-text-wrap" ng-repeat="answer in quizData.answers  | orderBy:'-id':true track by answer.id" ng-if="answer.quiz_question == question.id" ng-model="response[question.id][answer.id]" ng-value="answer.id"><div dir="auto"> &nbsp;&nbsp;{{answer.value}} </div></ion-checkbox>
              </ion-list>
            </div>
          </div>
          <span ng-show="fillAnswer" class="fillAnswer" style="color:#ff0000;text-align:center;font-style: italic;display: block;"><i class="ion-ios-information"></i> Please complete to continue</span>

          <!-- <div class="survey-footer">
            <a class="prev-survey" ng-if="$index != 0" ng-click="prev()"><i class="ion-chevron-left"></i> Prev</a>

            <span class="survey-ques-count">{{ $index + 1 }} / {{ totalQues }}</span>

            <a class="next-survey" ng-class="{'activate-next-button':response[question.id]}" ng-click="validateNext($index+1 == totalQues, response[question.id], response)"> {{$index+1 == totalQues ? "Submit" : "Next"}} <i class="ion-chevron-right"></i></a>
          </div> -->

        </div>
    </ion-content>
    <ion-footer-bar>
          <div class="survey-footer">
            <a class="prev-survey" ng-if="question_index != 0" ng-click="prev()"><i class="ion-chevron-left"></i> Prev</a>
            <a style="opacity:0;" ng-if="question_index == 0"></a>

            <span class="survey-ques-count">{{ question_index + 1 }} / {{ totalQues }}</span>

            <a class="next-survey" ng-class="{'activate-next-button':response[question.id]}" ng-click="validateNext(question_index+1 == totalQues, response[quizData.questions[question_index].id], response)"> {{question_index+1 == totalQues ? "Submit" : "Next"}} <i class="ion-chevron-right"></i></a>
          </div>
  </ion-footer-bar>
</ion-view>
