.pane {

	.settings-content {
		background:#e0e0e0 !important;

	}

	.about-info{
		width: 100%; 
		position: fixed; 
		bottom: 20px; 
		text-align: center;
	}
	.about-info p:last-child{
		margin:0;
	}

}