<ion-view view-title="Settings" hide-back-button="true" class="">

    <ion-nav-buttons side="left">
        <!-- <button class="button button-icon" style="text-align: left; background: none;" ui-sref="app.homescreen" nav-direction="forward"><i class="icon ion-ios-arrow-back"></i></button> -->
        <button class="button button-icon" style="text-align: left; background: none;" ui-sref="app.homescreen"><i class="icon ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

	<ion-content class="settings-content">

        <ion-item class="item item-divider item-icon-left">
            <i class="icon ion-ios-contact-outline"></i><span>{{ currentUser.first_name }} {{ currentUser.last_name }}</span>
        </ion-item>

		<ion-item class="item-icon-left item-light" ng-click="vm.signout()">
			<i class="icon ion-android-exit"></i>Sign out
		</ion-item>

        <ion-item class="item item-divider">
            <span>Usage Policies</span>
        </ion-item>

        <div  ng-if="!config.global.legalDocuments.termsconditions || !config.global.legalDocuments.privacyPolicy">
          <ion-item ng-if="document.settings.visible" class="item-icon-left item-light" ng-repeat="document in config.global.legalDocuments" ng-click="iAB(document.externalLinkURL, true, true)">
              <i class="icon" ng-class="document.navigation.icon"></i>{{document.name}}
          </ion-item>
        </div>
        <!-- Show previous usage policy documents -->
        <ion-item ng-if="config.global.legalDocuments.termsconditions" class="item-icon-left item-light" ng-click="iAB(config.global.legalDocuments.termsconditions, true, true)">
            <i class="icon ion-ios-paper"></i>Terms &amp; Conditions
        </ion-item>

        <ion-item ng-if="config.global.legalDocuments.privacyPolicy" class="item-icon-left item-light" ng-click="iAB(config.global.legalDocuments.privacyPolicy, true, true)">
            <i class="icon ion-locked"></i>Privacy Policy
        </ion-item>
	</ion-content>

    <div class="about-info">
        <p>Build version <span app-version></span></p>
        <p>Powered by</p>
        <p><a class="poweredBy" ng-click="iAB('http://www.staffconnectapp.com/', true)">StaffConnect</a></p>
    </div>

</ion-view>
