 <ion-view hide-back-button="true" view-title="Homescreen">

	<ion-nav-buttons side="left">
		<!-- <div class="button button-icon ion-ios-gear-outline" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ui-sref="app.settings" nav-direction="back"></div> -->

		<div class="button button-icon ion-ios-gear-outline"  ui-sref="app.settings"></div>
	</ion-nav-buttons>

 	<ion-nav-title>
 		<div class="header-logo" ng-style="{'background-image':'url('+imgixAssetURL+'/03-home-logo.png?auto=format&ch=Save-Data)'}"></div>
 	</ion-nav-title>

	<ion-nav-buttons side="right">
		<div class="button button-icon ion-ios-people" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ui-sref="app.directory"></div>
	</ion-nav-buttons>
	<ion-content scroll="false">
		<div class="homescreen-content">
			<div class="dual-panel"  ng-if="$root.config.homescreen.panels.length == 2" ng-class="$root.config.homescreen.tickertape.marquee ? 'tickertape' : 'notickertape'">
		        <div class="panel" ng-repeat="panel in $root.config.homescreen.panels" ng-click="navigateToModule(config.features[panel.link])" ng-style="{'border-color':panel.borderColor}">

              <img imageonload="ImageLoaded" class="background-image"
                ng-srcset="{{imgixAssetURL+'/panel-bg-'+$index+'.png?auto=format&ch=Save-Data&max-h='+deviceWidth*1.5*deviceDPR+'&min-h='+deviceWidth/2+'&w='+deviceWidth+'&dpr='+deviceDPR }} 1x,
                            {{ imgixAssetURL+'/panel-bg-'+$index+'.png?auto=format&ch=Save-Data&max-h='+deviceWidth*1.5*deviceDPR+'&min-h='+deviceWidth/2+'&w='+deviceWidth+'&dpr='+deviceDPR }} {{deviceDPR}}x"
                ng-src="{{imgixAssetURL+'/panel-bg-'+$index+'.png?auto=format&ch=Save-Data&max-h='+deviceWidth*1.5*deviceDPR+'&min-h='+deviceWidth/2+'&w='+deviceWidth }}" class="frontImage"/>

              <!-- <img imageonload="ImageLoaded" class="background-image" ng-src="{{imgixReplace(panel.background.imageUrl)+'?h='+panelHeight+'&fit=crop&crop=entropy&w='+deviceWidth}}" /> -->
		            <!--<div class="overlay" ng-if="panel.background.overlay" ng-style="{'background-image':'url('+panel.overlay.background.imageUrl+')'}">&nbsp;</div> -->
		            <img class="overlay" ng-if="panel.background.overlay" ng-src="{{panel.overlay.background.imageUrl}}" />
		            <div class="header" ng-class="panel.header.position">
		            	<span ng-style="{'color':panel.header.textColor}" ng-bind="panel.header.text"></span>
			            <div class="button" ng-style="{'background':panel.header.button.backgroundColor,'color':panel.header.button.textColor}">
			                <i class="icon" ng-class="panel.header.button.icon"></i>
			                <div ng-bind="panel.header.button.text"></div>
			            </div>
		            </div>

		            <!-- <div class="badgeOuter"> --><span class="badge badge-positive">1</span><!-- </div> -->
		            <div class="logo" ng-class="panel.logo.position" ng-style="{'background-image':'url('+panel.logo.background.imageUrl+')'}">
		            	&nbsp;
		            </div>
		        </div>
		    </div>
			<div class="single-panel" ng-if="$root.config.homescreen.panels.length == 1" ng-class="$root.config.homescreen.tickertape.marquee ? 'tickertape' : 'notickertape'">
		        <div class="panel" ng-repeat="panel in $root.config.homescreen.panels | limitTo:1" ng-click="navigateToModule(config.features[panel.link])" ng-style="{'border-color':panel.borderColor}">
              <img imageonload="ImageLoaded" class="background-image"
                ng-srcset="{{imgixAssetURL+'/panel-bg-'+$index+'.png?auto=format&ch=Save-Data&max-h='+deviceWidth*1.5*deviceDPR+'&min-h='+deviceWidth/2+'&w='+deviceWidth+'&dpr='+deviceDPR }} 1x,
                            {{ imgixAssetURL+'/panel-bg-'+$index+'.png?auto=format&ch=Save-Data&max-h='+deviceWidth*1.5*deviceDPR+'&min-h='+deviceWidth/2+'&w='+deviceWidth+'&dpr='+deviceDPR }} {{deviceDPR}}x"
                ng-src="{{imgixAssetURL+'/panel-bg-'+$index+'.png?auto=format&ch=Save-Data&max-h='+deviceWidth*1.5*deviceDPR+'&min-h='+deviceWidth/2+'&w='+deviceWidth }}" class="frontImage"/>
		            <!--<div class="overlay" ng-if="panel.background.overlay" ng-style="{'background-image':'url('+panel.overlay.background.imageUrl+')'}">&nbsp;</div> -->
		            <img class="overlay" ng-if="panel.background.overlay" ng-src="{{panel.overlay.background.imageUrl}}" />
		            <div class="header" ng-class="panel.header.position">
		            	<span ng-style="{'color':panel.header.textColor}" ng-bind="panel.header.text"></span>
			            <div class="button" ng-style="{'background':panel.header.button.backgroundColor,'color':panel.header.button.textColor}">
			                <i class="icon" ng-class="panel.header.button.icon"></i>
			                <div ng-bind="panel.header.button.text"></div>
			            </div>
		            </div>

		            <!-- <div class="badgeOuter"> --><span class="badge badge-positive">1</span><!-- </div> -->
		            <div class="logo" ng-class="panel.logo.position" ng-style="{'background-image':'url('+panel.logo.background.imageUrl+')'}">
		            	&nbsp;
		            </div>
		        </div>
		    </div>

            <div class="marquee-panel" ng-if="$root.config.homescreen.tickertape.marquee" ng-style="{'background':$root.config.homescreen.tickertape.backgroundColor}">
                <div class="name" ng-bind="$root.config.homescreen.tickertape.name.text" ng-style="{'background':config.homescreen.tickertape.name.backgroundColor,'color':$root.config.homescreen.tickertape.name.textColor}" ></div>
                <!-- <div class="marquee" id="marquee" ng-bind="tickertape" ng-style="{'color':$root.config.homescreen.tickertape.textColor}"></div> -->
                <!-- <div class="microsoft marquee" id="marquee" ng-style="{'color':$root.config.homescreen.tickertape.textColor}">
                	<span id="marquee_text" ng-bind="tickertape"></span>
                </div> -->
                <div class="microsoft marquee" id="marquee"  scrollDelay="$root.config.homescreen.tickertape.speed" ng-style="{'color':$root.config.homescreen.tickertape.textColor}">
                  <span id="marquee_text" ng-bind="tickertape"></span>
                </div>
            </div>

	        <ion-slide-box class="navigation-panel" ng-style="{'background':$root.config.homescreen.navslider.background.color}" active-slide="slideIndex" on-slide-changed="saveSlidePosition()" show-pager="{{slides['1']}}">
	            <ion-slide ng-repeat="slide in slides">
	                <div class="slide-item row">
	                    <a class="nav-item" ng-repeat="button in slide" ng-click="navigateToModule(button)">
	                        <span class="badge badge-positive">1</span>
	                        <div class="feature-icon-outer" ng-style="{'background':button.navigation.iconOuter.backgroundColor}">
		                        <div class="feature-icon" ng-style="{'background':button.navigation.iconInner.backgroundColor, 'border-color':button.navigation.iconInner.borderColor}">
		                        	<i ng-class="button.navigation.icon" ng-style="{'color':button.navigation.iconInner.textColor}"></i>
		                        </div>
	                    	</div>
	                        <span class="feature-icon-name">{{ button.name }}</span>
	                    </a>
	                </div>
	            </ion-slide>
	        </ion-slide-box>
        </div>
	</ion-content>
</ion-view>
