.nav-bar-block .bar-header .left-buttons .button {
    background: $stable;
    color: $dark;
}

.nav-bar-block .bar-header .right-buttons .button .round{
    background: $dark;
    color: $light;
}

.header-logo {

}

.overlay-content {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 9999;
}

.homescreen-content {

    width: 100%;
    height: 100%;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;

	.dual-panel {
	    width: 100%;
	    height: 70%;

		&.notickertape{
			height: 74% !important;
		}

		.panel {
			position: relative;
		    width: 100%;
    		height: 50%;
   			background-position: center center;
   			background-repeat: no-repeat;
			background-size: cover;
			border-top-width: 2px;
			border-top-style: solid;

			.background-image {
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			}

			.overlay{
			    height: 100%;
			    width: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
   			    background-size: 100%;
   			    background-repeat: no-repeat;
   			    opacity: 0.5;
			}

			.header {
			    color: #fff;
			    font-size: 8vw;
			    position: absolute;

				&.top-left {
    				top: 7vw;
    				left: 3vw;
				}

				&.top-right {
    				top: 7vw;
    				right: 3vw;
				}

				&.bottom-left {
    				bottom: 7vw;
    				left: 3vw;
				}

				&.bottom-right {
    				bottom: 7vw;
    				right: 3vw;
				}

				span {
					margin-bottom: 4vw;
					display:block;
					font-size:8.5vw;
					line-height: 8vw;
					font-weight:normal;
			    	font-family: "Oswald-Regular",sans-serif;
				}

				.button {
					font-size: 5.5vw;
				    height: 7.5vw;
				    line-height: 7vw;
				    min-height: 0;
				    padding: 0 1vw;
				    font-family: "Oswald-Light",sans-serif;

					i {
						display: inline-block;
					    font-size: 10vw;
					    position: relative;
					    top: 50%;
					    transform: translateY(-50%);
					}

					div {
						display:inline-block;
					}

				}

				.button .icon::before, .button.icon::before, .button.icon-left::before, .button.icon-right::before {
					font-size: 7vw;
				    line-height: 7vw;
				}

			}

			.logo{
				position: absolute;
				width: 40%;
			    height: 40%;
	   			background-position: 0 0;
			    background-size: contain;
				background-repeat: no-repeat;

				&.top-left {
    				top: 5vw;
    				left: 3vw;
				}

				&.top-right {
    				top: 5vw;
    				right: 3vw;
				}

				&.bottom-left {
    				bottom: 5vw;
    				left: 3vw;
    				background-position: 0 100%;
				}

				&.bottom-right {
    				bottom: 5vw;
    				right: 3vw;
    				background-position: 0 100%;
				}

			}

		}

		.panel:last-child {

			.header {

				.button .icon::before, .button.icon::before, .button.icon-left::before, .button.icon-right::before {
					font-size: 8vw;
				    line-height: 7vw;
				}

			}

		}

	}


	.single-panel {
	    width: 100%;
	    height: calc(100% - 30%);

		&.notickertape{
			height: calc(100% - 26%)!important;
		}

		.panel {
			position: relative;
		    width: 100%;
    		height: calc(100%);
   			background-position: center center;
   			background-repeat: no-repeat;
			background-size: cover;
			border-top-width: 2px;
			border-top-style: solid;

			.background-image {
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
			}

			.overlay{
			    height: 100%;
			    width: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
   			    background-size: 100%;
   			    background-repeat: no-repeat;
   			    opacity: 0.5;
			}

			.header {
			    color: #fff;
			    font-size: 8vw;
			    position: absolute;

				&.top-left {
    				top: 7vw;
    				left: 3vw;
				}

				&.top-right {
    				top: 7vw;
    				right: 3vw;
				}

				&.bottom-left {
    				bottom: 7vw;
    				left: 3vw;
				}

				&.bottom-right {
    				bottom: 7vw;
    				right: 3vw;
				}

				span {
					margin-bottom: 4vw;
					display:block;
					font-size:8.5vw;
					line-height: 8vw;
					font-weight:normal;
			    	font-family: "Oswald-Regular",sans-serif;
				}

				.button {
					font-size: 5.5vw;
				    height: 7.5vw;
				    line-height: 7vw;
				    min-height: 0;
				    padding: 0 1vw;
				    font-family: "Oswald-Light",sans-serif;

					i {
						display: inline-block;
					    font-size: 10vw;
					    position: relative;
					    top: 50%;
					    transform: translateY(-50%);
					}

					div {
						display:inline-block;
					}

				}

				.button .icon::before, .button.icon::before, .button.icon-left::before, .button.icon-right::before {
					font-size: 7vw;
				    line-height: 7vw;
				}

			}

			.logo{
				position: absolute;
				width: 40%;
			    height: 40%;
	   			background-position: 0 0;
			    background-size: contain;
				background-repeat: no-repeat;

				&.top-left {
    				top: 5vw;
    				left: 3vw;
				}

				&.top-right {
    				top: 5vw;
    				right: 3vw;
				}

				&.bottom-left {
    				bottom: 5vw;
    				left: 3vw;
    				background-position: 0 100%;
				}

				&.bottom-right {
    				bottom: 5vw;
    				right: 3vw;
    				background-position: 0 100%;
				}

			}

		}

	}


	.marquee-panel {
	    font-family: "Oswald-Light",sans-serif;
	    font-size: 18px;
	    font-weight: 200;
	    letter-spacing: 0;
	    padding: 0;

	    .name {
		    height: 30px;
		    left: 0;
		    line-height: 30px;
		    position: absolute;
		    /*width: 55px;*/
		    width: auto;
		    padding: 0 10px;
		    z-index: 1;
		    text-align: center;
	    }

		.marquee {
			position: relative;
		    height: 30px;
		    line-height: 30px;
		    width: 100%;
			overflow: hidden;
			white-space: nowrap;
		    margin: 0 auto;
		    box-sizing: border-box;
		}

		.marquee span {
		    display: inline-block;
		    padding-left: 100%;
		    text-indent: 0;
		}


		/* Make it move */
	    @-webkit-keyframes marquee {
		  0%   { transform: translate(0, 0);  }
		  100% { transform: translate(-100%, 0); }
		}
		@-moz-keyframes marquee {
		  0%   { transform: translate(0, 0);  }
		  100% { transform: translate(-100%, 0); }
		}
		@keyframes marquee {
		  0%   { transform: translate(0, 0);  }
		  100% { transform: translate(-100%, 0); }
		}
		@keyframes marquee {
		  0%   { transform: translate(0, 0);  }
		  100% { transform: translate(-100%, 0); }
		}

		/* Make it pretty */
		.microsoft {
		    padding-left: 1.5em;
		    position: relative;
		}


		.microsoft:after, .microsoft::after {
		    z-index: 1;
		    content: '';
		    position: absolute;
		    top: 0; left: 0;
		    width: 2em; height: 2em;
		}


	}

	.navigation-panel {
		text-align:center;
		height: 26%;

		.col{
			position: relative;
		}

		.slide-item.row{
			padding: 0;
		}

		.nav-item{
			display: inline-block;
			padding: 4vw;
			width: 33.3%;
			position: relative;
			text-decoration: none;
		}

		.feature-icon-outer{
			margin: 0 auto;
			padding: 5px;
			width: 22vw;
			height: 22vw;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			position: relative;

			.feature-icon {
				height: 100%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				border-width: 2px;
				border-style: solid;

				i{
					display: block;
					position: relative;
				    font-size: 14vw;
				    transform: translateY(-50%);
				    top: 50%;
				}

			}

		}

		.feature-icon-name{
			display: block;
			margin-top: 1vw;
			font-family: "Oswald-Regular",sans-serif;
			font-size: 4vw;
			color: #fff;
		}

		.slider-pager{

			bottom: 15px;

			.slider-pager-page{

				margin: 0 2px;


				.icon{
					font-size: 10px;
				}
			}

			.slider-pager-page.active{
				color: #fff;
			}
		}

	}

	.badge{
		position: absolute;
		top: 5%;
		right: 3vw;
		display:none;
	}

}






/* Media queries */

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

.homescreen-content {

	.marquee-panel {
	    font-size: 23px;

	    .name {
		    height: 40px;
		    line-height: 40px;
		    width: 75px;
	    }

		.marquee {
		    height: 40px;
		    line-height: 40px;
		}

	}

	.navigation-panel .feature-icon-outer{
		width: 18vw;
		height: 18vw;
		margin-bottom: 2vw;
	}

}

    }


/* ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

.homescreen-content {

	.marquee-panel {
	    font-size: 23px;

	    .name {
		    height: 40px;
		    line-height: 40px;
		    width: 75px;
	    }

		.marquee {
		    height: 40px;
		    line-height: 40px;
		}

	}

	.navigation-panel {

		height: 27%;

		.feature-icon-outer{
			width: 18vw;
			height: 18vw;
			margin-bottom: 2vw;
		}
	}

}

    }


/* iPhone 6+ */
@media only screen and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {



    }

/* iphone 6 */
@media only screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {



    }

/* HTC One / Sony Xperia Z / Samsung Galaxy S5 */
@media only screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {



    }

/* Samsung Galaxy S4 */
@media only screen and (device-width: 320px) and (device-height: 640px) and (orientation: portrait) {



    }

/* iphone 5/5s */
@media only screen and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {



    }

/* iphone 4 */
@media only screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {



    }
