<ion-view view-title="Register">
	<ion-content class="signup-content">
		<div class="max400">
			<form ng-submit="createUser(userObject)">

				<div class="item item-text-wrap" ng-if="config.signup.methods.companydomain.acceptedDomains.length > 0">
                	<p>
                    In order to register, you need to have one of the following emails:
                    <span ng-repeat="domain in config.signup.methods.companydomain.acceptedDomains">{{domain}} </span>
                    </p>
                </div>

				<label class="item item-text-wrap" ng-if="config.signup.methods.nondesk.enabled" ng-style="{'color':config.signup.form.submit.backgroundColor}" ui-sref="app.signup-verification">
					<p><center>No company email? Click here</center></p>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Email" ng-model="userObject.username" autocapitalize="off" autocapitalize="none">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="First name" ng-model="userObject.first_name" >
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Last name" ng-model="userObject.last_name" >
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Create password" ng-model="userObject.password" autocapitalize="none">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Repeat password" ng-model="userObject.repeatPassword" autocapitalize="none">
				</label>
				<div class="item item-text-wrap">
					<p>By clicking the register button you agree with our <span ng-click="iAB(config.global.legalDocuments.termsconditions, true, true)" ng-style="{'color':config.global.theme.linkColor}">terms &amp; conditions</span>.</p>
                </div>
                <button type="submit" class="button button-full" ng-style="{'background':config.signup.form.submit.backgroundColor,'color':config.signup.form.submit.textColor}" ng-bind="config.signup.form.submit.text">&nbps;</button>
			</form>
		</div>
	</ion-content>
</ion-view>