<ion-view view-title="Register">

	<ion-content scroll="true" class="">
		<div class="signup-content max400">
			<form ng-submit="createNondeskUser(userObject)">
				<div class="item item-text-wrap">
                	<p>
                    Please complete the following fields to register. (Email address is required for password reset only.)
                    </p>
                </div>
				<label class="item item-input item-stable">
					<span class="input-label">Full name</span>
					<input type="text" placeholder="Name" ng-value="userObject.first_name + ' ' +userObject.last_name" disabled>
				</label>
				<label class="item item-input item-stable">
					<span class="input-label">Department</span>
					<input type="text" placeholder="Name" ng-value="userObject.department.name" disabled>
				</label>
				<label class="item item-input item-stable">
					<span class="input-label">Location</span>
					<input type="text" placeholder="Name" ng-value="userObject.location.name" disabled>
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Your email address" ng-model="userObject.username" autocapitalize="off" autocapitalize="none">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Create password" ng-model="userObject.password" autocapitalize="none">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="Repeat password" ng-model="userObject.repeatPassword" autocapitalize="none">
				</label>
				<div class="item item-text-wrap">
					<p>By clicking the register button you agree with our <span ng-click="iAB(config.global.legalDocuments.termsconditions, true, true)" ng-style="{'color':config.global.theme.linkColor}">terms &amp; conditions</span>.</p>
                </div>
                <button type="submit" class="button button-full" ng-style="{'background':config.signup.form.submit.backgroundColor,'color':config.signup.form.submit.textColor}" ng-bind="config.signup.form.submit.text">&nbps;</button>
			</form>
		</div>

	</ion-content>
</ion-view>
