.pane {

	.signup-content {
	    position: absolute;	/* for Chrome & Safari */
	    left: 0;			/* for Chrome & Safari */
	    right: 0;			/* for Chrome & Safari */
	    /*top: 50%;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);*/

	    form{

	    	label{
	    		/*padding: 3px 0 3px 10px;*/
	    		
	    		border-left:none;
	    		border-right:none;
	    		input{
	    			font-size: 16px;
	    		}
	    	}

	    	/*label:first-of-type{
	    		border: none;
	    	}*/

	    	/*label:last-of-type{
	    		margin: 1px 0 6vw;
	    		border: none;
	    	}*/

	    	div:first-of-type{
	    		border: none;
	    	}

	    	div:last-of-type{
	    		margin-top: 1px;
	    		border: none;
	    	}

	    	span{
	    		pointer-events: auto;
	    		cursor: pointer;
	    	}

	    	.button{
	    	}

	    }

	}

}