<ion-view view-title="Register">

	<ion-content scroll="false" class="">
		<div class="signup-content max400">
			<form ng-submit="verifyNondesk(userObject)">
				<div class="item item-text-wrap">
                	<p>
                    In order to register without a company email, you need to enter the following two credentials so we can verify your identity.
                    </p>
                </div>

				<label class="item item-input item-stacked-label">
					<span class="input-label" ng-bind="config.signup.methods.nondesk.label1"></span>
					<input type="text" placeholder="{{ config.signup.methods.nondesk.placeholder1 ? config.signup.methods.nondesk.placeholder1 : 'Enter here' }}" ng-model="userObject.data1" autocapitalize="off" autocapitalize="none">
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label" ng-bind="config.signup.methods.nondesk.label2"></span>
					<input type="text" placeholder="{{ config.signup.methods.nondesk.placeholder2 ? config.signup.methods.nondesk.placeholder2 : 'Enter here' }}" ng-model="userObject.data2" autocapitalize="off" autocapitalize="none">
				</label>

				<div class="item item-text-wrap">
                	<p>Please complete all fields to continue.</p>
                </div>
                <button type="submit" class="button button-full" ng-style="{'background':config.signup.form.submit.backgroundColor,'color':config.signup.form.submit.textColor}">Next</button>
			</form>
		</div>

	</ion-content>
</ion-view>
