  <ion-modal-view class="post-modal">
    <!-- <ion-header-bar class="bar-dark">
      <div class="button button-icon back-button" ng-click="vm.closePostModal()">
      	<i class="icon ion-ios-arrow-back"></i>
      </div>
      <div class="title">New post</div>
    </ion-header-bar> -->
    <ion-content class="post-modal-content" scrollbar-y="false">

    	<div class="closeIcon" ng-click="vm.closePostModal()"">
    		<i class="ion-ios-close"></i>
    	</div>

    	<h3 ng-style="{'color':$root.config.global.theme.communities.newContentIcon.backgroundColor }">{{ vm.editMode ? 'Edit post':'Create a post'}}</h3>

    	<div ng-if="currentUser.role =='admin'">
			<label class="item item-input item-select">
				<!-- <div class="input-label">
					Review status
				</div> -->
				<select ng-model="vm.post.status" class="modal-select">
					<option value="" disabled selected hidden>Select Status</option>
					<option value="0">Awaiting review</option>
					<option value="1">Approved</option>
					<option value="2">Rejected</option>
				</select>
			</label>
    	</div>
    	<div ng-if="vm.communities">
			<label class="item item-input item-select">
				<!-- <div class="input-label">
					Select a category
				</div> -->
				<select ng-model="vm.post.community" class="modal-select">
					<option value="" disabled selected hidden>Select Community</option>
					<option value="{{ community._id }}" ng-repeat="community in vm.communities" ng-if="community.myPermission == 3 || currentUser.role == 'admin'">{{ community.name }}</option>
				</select>
			</label>
    	</div>

		<label class="item item-input">
			<textarea dir="auto" type="text" rows="2" placeholder="Title" ng-model="vm.post.title"></textarea>
		</label>
		<label class="item item-input">
			<textarea dir="auto" type="text" rows="5" placeholder="Body Text" ng-model="vm.post.content"></textarea>
		</label>

		<label class="item-input">
			Media
		</label>

		<div class="add-media">
			<a class="button add-media-btn" ng-click="vm.selectMedia()">
				<div>
					<i class="middle ion-plus"></i>
				</div>
			</a>
			
			<ion-scroll direction="x" class="multipleMedia wide-as-needed">

				<a class="button" ng-repeat="media in vm.mediaArray" ng-click="vm.removeMedia($index)">

					<div ng-if="media.type=='video'" ng-style="{'background-image':'url('+media.thumbname+')'}">
						<i class="middle ion-close"></i>
						<i class="bottom-left ion-ios-film"></i>
					</div>
					<div ng-if="media.type=='image' && media.thumbname" ng-style="{'background-image':'url('+media.thumbname+')'}">
						<i class="middle ion-close"></i>
						<i class="bottom-left ion-images"></i>
					</div>
					<div ng-if="media.type=='image' && media.file" ng-style="{'background-image':'url('+media.file+')'}">
						<i class="middle ion-close"></i>
						<i class="bottom-left ion-images"></i>
					</div>
				</a>
			</ion-scroll>
		</div>

		<!-- <input type="file" class="invisible1"> -->
    </ion-content>

	<ion-footer-bar class="button-bar">
        <button class="button button-full noBorder"  ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor, 'color':'white' }" ng-click="vm.savePost()">
          <div ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }"><strong>Submit</strong></div>
        </button>
    </ion-footer-bar>

  </ion-modal-view>