<ion-modal-view class="gallery-view">
    <ion-content scroll="false">
	    <div class="button button-icon button-light ion-ios-close" ng-click="vm.closeGalleryModal()"></div>
	    <ion-slide-box on-slide-changed="vm.slideChanged($index)">

			<ion-slide ng-repeat="image in vm.post.attachments" ng-click="vm.openVideo(image)">
				<div class="container" class="scrollCanvas">
					<ion-scroll class="scrollCanvas" zooming="{{ image.type == 'image' }}" min-zoom="1" direction="xy" locked="false" overflow-scroll="false">
						<img src="img/play4videos.png" class="play4Video" ng-if="image.type == 'video'" ng-if="$index >= (vm.currentGallerySlide-1) && $index <= (vm.currentGallerySlide+1)"/>
						<!-- <div class="image-gallery" style="background-image: url( {{image.type == 'video' ? image.thumbname : image.filename }} );height:{{vm.phoneHeight}}px;" ng-style="{'height':500+'px'}" ng-if="$index >= (vm.currentGallerySlide-1) && $index <= (vm.currentGallerySlide+1)"></div> -->
						<img class="image-gallery" ng-src="{{image.type == 'video' ? imgixReplace(image.previewname)+'?auto=format&ch=Save-Data&max-h=2560&max-w=2560' : imgixReplace(image.filename)+'?auto=format&ch=Save-Data&max-h=2560&max-w=2560' }}" style="height:{{vm.phoneHeight}}px;"  ng-if="$index >= (vm.currentGallerySlide-1) && $index <= (vm.currentGallerySlide+1)" />
					</ion-scroll>
				</div>
				<div>&nbsp;</div>
	      	</ion-slide>

		</ion-slide-box>
  </ion-content>
</ion-modal-view>
