<ion-view id="userMessagesView" view-title="{{vm.post.title}}" class="community-detail">

	<ion-nav-title>
		<div dir="auto">{{vm.post.title}}</div>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<div class="button button-icon ion-ios-people" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ui-sref="app.directory"></div>
	</ion-nav-buttons>

	<ion-header-bar class="bar-subheader restricted-bar" ng-if="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" ng-style="{'background':$root.config.global.theme.communities.filter.textColor, 'color':'white'}">
		<div>
			<i class="ion-locked"></i> This post is read only.
		</div>
	</ion-header-bar>

	<ion-content class="community-content" ng-class="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'?'has-restricted-bar':''" delegate-handle="userMessageScroll">
		<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> -->

		<!-- <div class="perm-status" ng-if="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'">
			<i class="ion-locked"></i> This post is read only.
		</div>
 -->
		<div class="card card-community" style="overflow-x:visible;overflow-y:visible;">

			<ion-item class="item-image" ng-style="{'min-height':(deviceWidth/2)+'px'}" ng-if="vm.post.attachments[0].thumbname || vm.post.attachments[0].previewname" ng-click="vm.openGalleryModal(post)">
				<img class="placeholderImage" ng-if="vm.post.attachments[0]" src="img/image_placeholder.png" />
				<img src="img/play4videos.png" class="play4Video" ng-if="vm.post.attachments[0].type == 'video'"/>
				<img
          ng-srcset="{{vm.post.attachments[0].type == 'video' ? imgixReplace(vm.post.attachments[0].previewname)+imgixParameters:imgixReplace(vm.post.attachments[0].filename)+imgixParameters}} 1x,
                      {{ vm.post.attachments[0].type == 'video' ? imgixReplace(vm.post.attachments[0].previewname)+imgixParameters+'&dpr='+deviceDPR:imgixReplace(vm.post.attachments[0].filename)+imgixParameters+'&dpr='+deviceDPR}} {{deviceDPR}}x"
          ng-src="{{vm.post.attachments[0].type == 'video' ? imgixReplace(vm.post.attachments[0].previewname)+imgixParameters : imgixReplace(vm.post.attachments[0].filename)+imgixParameters}}"
					class="frontImage"
					/>
				<div class="moreMedia" ng-if="vm.post.attachments.length > 1">
						+{{vm.post.attachments.length - 1}}
				</div>
			</ion-item>

			<ion-item class="item-text-wrap">
				<div class="row">
					<div class="col-80">
						<h2 dir="auto" ng-bind="vm.post.title"></h2>
					</div>
					<div class="col-10">
						<span ng-switch="vm.post.status" ng-if="vm.post.author._id == currentUser._id || currentUser.role == 'admin'" ng-click="vm.openMorePopover($event, vm.post)">
							<span class="item-note status royal-bg" ng-switch-when="0">
								<i class="icon ion-android-time"></i>
							</span>
							<span class="item-note status balanced-bg" ng-switch-when="1">
								<i class="icon ion-android-done"></i>
							</span>
							<span class="item-note status positive-bg" ng-switch-when="2">
								<i class="icon ion-android-close"></i>
							</span>
							<span class="item-note status positive-bg" ng-switch-default>
								<i class="icon ion-android-close"></i>
							</span>
						</span>
					</div>
					<div class="col-10">
						<span class="item-note options" ng-click="vm.openMorePopover($event, vm.post)"><i class="icon ion-ios-arrow-down"></i></span>
					</div>
				</div>
				<div class="row">
					<div class="post-content">
						<div dir="auto" compile="vm.post.content"></div>
					</div>
				</div>
				<div class="row">
					<div class="post-meta">
						<span class="">{{ vm.post.date | date:'dd MMM HH:mm' }} | <i class="ion-locked" ng-if="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'"></i> {{ vm.post.communityInfo.name }}</span>
					</div>
				</div>
			</ion-item>

			<ion-item class="bottom-row">

				<!-- <img ng-src="{{ vm.post.author.avatar ? vm.post.author.avatar+'?'+vm.getTimeStamp : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" class="profile-dummy" ui-sref="app.directory-detail({userId:vm.post.author._id})"/> -->

				<img ng-if="vm.post.author.avatar" ng-src="{{ vm.post.author.avatar ? vm.post.author.avatar+'?'+vm.getTimeStamp : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" class="profile-dummy" ui-sref="app.directory-detail({userId:vm.post.author._id})"/>

        <div ng-if="!vm.post.author.avatar" class="avatar-circle" ng-class="'color-' + generateAvatarColor(vm.post.author.first_name + vm.post.author.last_name)" style="">
          <span class="initials" style="">{{vm.post.author.first_name | uppercase | limitTo:1}}{{vm.post.author.last_name | uppercase | limitTo:1}}</span>
        </div>

				<div class="button button-icon tag" ng-bind="vm.post.author.first_name+' '+vm.post.author.last_name" ui-sref="app.directory-detail({userId:vm.post.author._id})" style="position: relative; left: 47px;"></div>

<!-- 				<div ng-if="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'">

			        <div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" class="button button-comment button-icon" ng-click="vm.openCommentModal()">
			            <i class="icon ion-chatbox"></i>
			            <span class="" ng-bind="vm.post.comments.length"></span>
			        </div>
			        <div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" class="button button-like button-icon" ng-click="vm.likePost(vm.post)">
			            <i class="icon ion-thumbsup" ng-style="{'color':vm.post.liked ? $root.config.global.theme.communities.like.iconColor:''}"></i>
			            <span ng-style="{'color':vm.post.liked ? $root.config.global.theme.communities.like.iconColor:''}" ng-bind="vm.post.likes.length"></span>
			        </div>

		    	</div> -->

<!-- 				<div class="commentlike" ng-if="vm.post.communityInfo.myPermission != 1 || currentUser.role == 'admin'">

			        <div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" class="button button-comment button-icon" ng-click="vm.openCommentModal()">
			            <i class="icon ion-chatbox"></i>
			            <span class="" ng-bind="vm.post.comments.length"></span>
			        </div>
			        <div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" class="button button-like button-icon" ng-click="vm.likePost(vm.post)">
			            <i class="icon ion-thumbsup" ng-style="{'color':vm.post.liked ? $root.config.global.theme.communities.like.iconColor:''}"></i>
			            <span ng-style="{'color':vm.post.liked ? $root.config.global.theme.communities.like.iconColor:''}" ng-bind="vm.post.likes.length"></span>
			        </div>

		    	</div> -->
			</ion-item>
		</div>

<!-- 			<span ui-sref="app.community-likes({postId:vm.post._id})">
				<i class="icon ion-thumbsup"></i>
				{{ vm.post.likes.length }} people have liked this
			</span>
			<span class="item-note">{{ vm.post.comments.length }} <i class="icon ion-chatbox"></i></span> -->

		<div class="card card-community">
			<div class="button-bar" ng-init="currentSlide=0">
				<div class="button" ng-class="currentSlide==1 ? '':'button-light'" ng-click="currentSlide=0">{{ vm.post.comments.length }} comments</div>
				<div class="button" ng-class="currentSlide==0 ? '':'button-light'" ng-click="currentSlide=1">{{ vm.post.likes.length }} likes</div>
			</div>
			<!-- <br> -->
			<ion-slide-box show-pager="false" active-slide="currentSlide">
				<ion-slide class="slide-comments">
					<ion-item class="item-stable" ng-if="vm.post.comments.length < 1 && !vm.loadingComments">
						<center>No comments</center>
					</ion-item>
					<ion-item class="item-stable" ng-if="vm.loadingComments">
						<center>Loading comments...</center>
					</ion-item>
					<ion-item class="item-avatar-left item-text-wrap" ng-repeat="comment in vm.post.comments track by $index" ng-if="!vm.loadingComments">
						<img ng-if="comment.user.avatar" ui-sref="app.directory-detail({userId:comment.user._id})" ng-src="{{ comment.user.avatar ? comment.user.avatar : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" />

		        <div ng-if="!comment.user.avatar" class="avatar-circle" ng-class="'color-' + generateAvatarColor(comment.user.first_name + comment.user.last_name)" style="margin-top:0px; width:43px; height:43px; text-align:center; font-size:14px; margin-left:-52px;">
		          <span class="initials" style="position:relative; top:12px; font-size: 18px; margin-left:0px;">{{comment.user.first_name | uppercase | limitTo:1}}{{comment.user.last_name | uppercase | limitTo:1}}</span>
		        </div>

						<span class="item-note top" ng-click="vm.openCommentMorePopover($event, comment)" ng-if="comment.user._id == currentUser._id && vm.post.communityInfo.myPermission != 1 || currentUser.role == 'admin'"><i class="icon ion-ios-arrow-down"></i></span>

						<span ui-sref="app.directory-detail({userId:comment.user._id})" class="tag title">{{ comment.user.first_name }} {{ comment.user.last_name }}</span><!--  | {{ comment.date }} -->
						<div dir="auto" compile="comment.body"></div>
						<div class="post-meta">
							<span class="tag" ng-bind="comment.date | date:'dd MMM HH:mm'"></span>
						</div>
					</ion-item>
				</ion-slide>
				<ion-slide class="slide-likes">
					<ion-item class="item-stable" ng-if="vm.post.likes.length < 1 && !vm.loadingLikes">
						<center>No likes</center>
					</ion-item>
					<ion-item class="item-stable" ng-if="vm.loadingLikes">
						<center>Loading likes...</center>
					</ion-item>
					<ion-item class="item-avatar-left item-text-wrap" ng-repeat="like in vm.post.likes track by $index" ng-if="!vm.loadingLikes" ui-sref="app.directory-detail({userId:like.user._id})">
						<!-- <div class="item-note button button-positive button-small button-outline">Follow</div> -->
						<img ng-if="like.user.avatar" ng-src="{{ like.user.avatar ? like.user.avatar : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" />
		        <div ng-if="!like.user.avatar" class="avatar-circle" ng-class="'color-' + generateAvatarColor(like.user.first_name + like.user.last_name)" style="margin-top:0px; width:43px; height:43px; text-align:center; font-size:14px; margin-left:-52px;">
		          <span class="initials" style="position:relative; top:12px; font-size: 18px; margin-left:0px;">{{like.user.first_name | uppercase | limitTo:1}}{{like.user.last_name | uppercase | limitTo:1}}</span>
		        </div>
						<span class="tag title" ng-bind="like.user.first_name+' '+like.user.last_name"></span>
						<div class="post-meta">
							<span class="tag" ng-bind="like.date | date:'dd MMM HH:mm'"></span>
						</div>
					</ion-item>
				</ion-slide>
			</ion-slide-box>
		</div>
		<br><br><br><br>
	</ion-content>

	<ion-footer-bar class="floatingFooterIcon">
		<div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }" class="button write-post-comment" ng-click="vm.commentModal._isShown ? vm.openCommentModal() : vm.openCommentModal()">
			<!-- <i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-chatbox" ng-if="!vm.commentModal._isShown"></i>
			<i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-android-close" ng-if="vm.commentModal._isShown"></i> -->
			<i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-chatbox"></i>
		</div>
		<!-- <div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }" class="button write-post-like" ng-click="vm.likePost(vm.post)"> -->
		<div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" ng-style="{'background':vm.post.liked ? $root.config.global.theme.communities.like.iconColor:''}" class="button write-post-like" ng-click="vm.likePost(vm.post)">
			<i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-thumbsup"></i>
			<!-- <i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-android-close" ng-if="vm.commentModal._isShown"></i> -->
		</div>
	</ion-footer-bar>

	<!-- <ion-footer-bar class="floatingFooterIcon">
		<div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }" class="button write-post-comment" ng-click="vm.commentModal._isShown ? vm.openCommentModal() : vm.openCommentModal()">
			<i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-chatbox"></i>
		</div>
		<div ng-disabled="vm.post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }" class="button write-post-like" ng-click="vm.likePost(vm.post)">
			<i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-thumbsup"></i>
		</div>
	</ion-footer-bar> -->

	<script id="more-popover.html" type="text/ng-template">
	  <ion-popover-view ng-style="{'height':((vm.popoverItems-1)*53)+68+'px'}">
	    <ion-content scroll="false">
	    	<ion-item class="item-icon-left" ng-if="vm.post.author._id == currentUser._id || currentUser.role == 'admin'">

				<span ng-switch="vm.post.status">
					<span ng-switch-when="0">
						<i class="icon ion-android-time"></i>
						Awaiting approval
					</span>
					<span ng-switch-when="1">
						<i class="icon ion-ios-checkmark-empty"></i>
						Approved
					</span>
					<span ng-switch-when="2">
						<i class="icon ion-ios-close"></i>
						Rejected
					</span>
					<span ng-switch-default>
						<i class="icon ion-ios-close"></i>
						Rejected
					</span>
				</span>

	    	</ion-item>
	    	<ion-item class="item-icon-left" ng-click="vm.openEditPostModal(vm.post)" ng-if="vm.post.author._id == currentUser._id || currentUser.role == 'admin'">
	    		<i class="icon ion-edit"></i>
	    		Edit post
	    	</ion-item>
	    	<ion-item class="item-icon-left" ng-click="vm.deletePost(vm.post)" ng-if="vm.post.author._id == currentUser._id || currentUser.role == 'admin'">
	    		<i class="icon ion-trash-b"></i>
	    		Delete post
	    	</ion-item>
	    	<ion-item class="item-icon-left" ng-click="vm.subscribe(vm.post)">
	    		<i class="icon ion-ios-bell"  ng-style="{'color':vm.post.subscribed ? $root.config.global.theme.communities.newContentIcon.backgroundColor:'' }"></i>
	    		<p ng-style="{'color':vm.post.subscribed ? $root.config.global.theme.communities.newContentIcon.backgroundColor:'' }">{{ vm.post.subscribed ? 'Unsubscribe from alerts':'Subscribe to alerts' }}</p>
	    	</ion-item>
	    </ion-content>
	  </ion-popover-view>
	</script>

	<script id="more-comment-popover.html" type="text/ng-template">
	  <ion-popover-view ng-style="{'height':vm.comment.user._id == currentUser._id ? '121px' : '68px'}">
	    <ion-content scroll="false">
	    	<ion-item  ng-if="vm.comment.user._id == currentUser._id" class="item-icon-left" ng-click="vm.openCommentModal(vm.comment)">
	    		<i class="icon ion-edit"></i>
	    		Edit
	    	</ion-item>
	    	<ion-item class="item-icon-left" ng-click="vm.deleteComment(vm.comment)">
	    		<i class="icon ion-trash-b"></i>
	    		Delete
	    	</ion-item>
	    </ion-content>
	  </ion-popover-view>
	</script>

	<script id="new-comment-modal.html" type="text/ng-template">
	  <ion-modal-view class="post-modal comment">
	    <ion-content class="post-modal-content">
	    		<div class="closeIcon" ng-click="vm.closeCommentModal()"">
		    		<i class="ion-ios-close"></i>
		    	</div>
		    	<h3 ng-style="{'color':$root.config.global.theme.communities.newContentIcon.backgroundColor }">Comment</h3>
				<label class="item item-input">
					<textarea  dir="auto" type="text" rows="7" placeholder="Your comment" ng-model="vm.comment.body"></textarea>
				</label>

	    </ion-content>
		<ion-footer-bar class="bar-dark button-bar">
			<button comment-submit ng-disabled="isDisabled" class="button button-full" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor, 'color':'white' }" ng-class="vm.comment.body.length > 0 ? '':'disabled'" type="submit" ng-click="vm.postComment(vm.comment);vm.comment.body == 'true'">
				<div ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }"><strong>Submit</strong></div>
			</button>
	    </ion-footer-bar>
	  </ion-modal-view>
	</script>

</ion-view>
