.pane {
	background: $sc-light;

	&.community-view {

		.bar-subheader{

			border-bottom: 1px solid #eee!important;
			/*box-shadow: 0px 1px 1px rgba( 0, 0, 0, 0.2);*/

			i{
				font-size: 22px;
			}

			.item-input-wrapper{
				margin-left: 7px;

				input{
					padding-left: 0;
				}
			}

			.button{
				margin-left: 0;
				padding-right: 0;

				/*i{
					font-size: 22px;
				}*/
			}
		}

		.filtered-bar {
			height:26px;
			padding:5px;
			border-bottom: 1px solid #eee!important;
			/*box-shadow: 0px 1px 1px rgba( 0, 0, 0, 0.2);*/

			div {
				width:100%;
				text-align:center;
			}
		}
	}

	&.community-detail{

		.restricted-bar {
			height:26px;
			padding:5px;
			border-bottom: 1px solid #eee!important;
			/*box-shadow: 0px 1px 1px rgba( 0, 0, 0, 0.2);*/

			div {
				width:100%;
				text-align:center;
			}
		}
	}

	.community-content {
		background: $sc-light;
		bottom: 0;

		&.has-filtered-bar{
			top: 112px!important;
		}

		&.has-restricted-bar{
			top: 88px!important;
		}

		.perm-status{
			padding: 2px;
			color: #fff;
			background: #b6b6b6;
			text-align: center;
		}

		.intro{
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			font-size: 5vw;
			line-height: 1.4;
			padding: 3vw;

			font-family: "Oswald-Regular";
			font-size: 4.5vw;
			color: #888;

			.col-15{
				text-align: center;

				i{
					position: relative;
				    font-size: 10vw;
				    transform: translateY(-50%);
				    top: 50%;
				}
			}

			p:last-of-type{
				margin-bottom: 0;
			}
		}

		.card {
			margin: 10px 5px 0;
		    border-radius: 5px;
		}

		.card-community{
		    box-shadow:none;
		    background: transparent;

			.item-avatar-left {
				/*background:rgb(252,252,252);*/
			}

			.item.item-image {
				min-height: 100px !important;
				padding: 0;

				.placeholderImage {
					position: absolute;
					top:0;left:0;
					z-index: -1;
				}

				.frontImage {
					top:0px;
					left:0px;
				  &.full-image {
				  	width:100%;
				  	max-height: none;
				  }
				}

			}

			.item{
				font-size: 15px;
				border:none;
				padding: 10px;

				.row {
					padding: 0;

					.post-content {
						width: 100%;
					}
				}

				.row + .row{
					margin: 0;
					padding-top: 5px;
				}

				h2 {
					margin: 3px 0 0;
					font-size: 16.5px;
					font-family: Avenir-Black;
					/*line-height: 26px;*/
				}

				h5 {
					font-size: 14px;
    				margin: 6px 0 1px;
    				opacity: 0.4;
				}

				p {
					display: inline;
					margin-bottom: 0;
				}

				.item-note {
					/*position:absolute;
					right:10px;*/
					border-radius: 50%;
					text-align:center;
					line-height:28px;
					font-size:20px;
					height:25px;
					width:25px;

					&.status {
						color: $light;
					}

					&.options {
						color: #444;
						background: $stable;
					}

				}

				.moreMedia {
					text-align:center;
					border-radius:7px;
					color:$light;
					position:absolute;
					font-weight:bold;
					bottom:10px;right:10px;
					height:40px;
					width:60px;
					line-height:42px;
					font-size:20px;
					background:rgba(0,0,0,0.5);
				}

			}

			.bottom-row {
				height: 48px;
				background: #fafafa;
				padding: 0;

				.profile-dummy{
				    width: 34px;
				    height: 34px;
				    border-radius: 50%;
				    display: inline-block;
				    position: absolute;
				    top: 50%;
				    left: 10px;
				    transform: translateY(-50%);
				}

				.tag {
					color: #959595;
					line-height:50px;
					padding-left:10px;
				}
				.button {
					position:absolute;
					border-radius:0px;
					border:none;
					line-height:50px;
					font-size: 14px;
					padding: 0 7px;

					i {

						&::before {
							line-height:48px;
						}
					}
				}

				.commentlike{
					float: left;
				}

				.button-comment {
					right:57px;
					color: #999;

					i {

						&::before {
							font-size: 26px;
							margin-top: 1px;
						}
					}

				}
				.button-like {
					right: 3px;
					color: #999;

					i {

						&::before {
							margin-top: -3px;
						}
					}

				}

			}


			.button-bar{
				margin-bottom: 10px;
				background: $stable;
				/*border: 3px solid $stable;*/
    			border-radius: 5px;

    			.button{
    				min-height: 32px;
    				line-height: 32px;
    				border-radius: 4px;
    			}

			}

			.slider-slide{

				.item{
					border-bottom: 2px solid $stable;
					min-height: 60px;
				}

				.item:first-child{
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				.item:last-child{
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					border-bottom: none;
				}

				&.slide-comments{

					.item-avatar-left{
						padding: 10px 10px 10px 60px;

						img{
							top: 10px;
							left: 10px;
						}

					}

				}

				&.slide-likes{

					.item-avatar-left{
						padding: 0;

						a.item-content{
							padding: 10px 10px 10px 60px;
							min-height: 60px;

							img{
								top: 10px;
								left: 10px;
							}

						}

						a.item-content:first-child{
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
						}

						a.item-content:last-child{
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
							border-bottom: none;
						}

					}

				}

			}

		}

		.upper-spacing {
		    height: 70px;
		    background: #e9e9e9;
		    margin: -5px 5px 0px 5px;
		}

		.bottom-spacing {
		    height: 70px;
		    background: #e9e9e9;
		    margin: -5px 5px 0px 5px;
		}


		ion-infinite-scroll {
			height: 0;

			ion-spinner {
				margin-bottom: 10px;
			}
		}

	}



	.bar-footer{
		display: inline;
		background: transparent;

		&.floatingFooterIcon .button{
			/*background: $dark;*/
			background: #ddd;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			line-height: 50px;
			position: absolute;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		}

		.write-post{
			top: -16px!important;
			right: 10px!important;
			bottom: 10px!important;

			i{
				font-size: 26px;
				color: $light;
			}

		}
		.write-post-like{
			top: -16px!important;
			right: 10px!important;
			bottom: 10px!important;

			i{
				font-size: 32px;
				color: $light;
			}

		}
		.write-post-comment{
			right: 70px;
			/*right: 10px!important;*/
			bottom: 10px!important;
			padding-top: 2px;

			i{
				font-size: 26px;
				color: $light;
			}

		}

	}

}

.post-modal{

	width: 90%;
	top: 5%;
	left: 5%;
	right: 5%;
	border-radius: 5px;
	box-shadow: 0 0 3px #333;
	max-height: 300px;
	top: 20px;


	&.modal {
		min-height: 490px;
	}

	&.modal.comment {
		min-height: 245px;
	}

	.post-modal-content {

		.item{
			border-width: 1px 0;
			margin: -1px 0;

			&.item-input{
				padding-right: 5px;
			}
		}

		.closeIcon {
			float:right;
			font-size:35px;
			color:#e0e0e0;
			margin-right:15px;
			margin-top:10px;
		}

		h3 {
			font-size:30px;
			margin-top: 10px;
			padding:10px;
			color: $assertive;
		}

		.modal-select{
			max-width: 100%;
			width: 100%;
			height: 34px;
			position: relative;
			padding: 0 48px 0 0;
			text-align: left;
			direction: ltr;

			[hidden]{
				display: block;
				}

			select:invalid {
				color: gray;
			}

		}

		.add-media{

			padding-left: 15px;
			height: 100px;

			a:hover{
			    border-color: transparent;
			}

			a.add-media-btn{
				display: inline-block;
				float: left;
				margin: 0 5px 0 0;
				padding: 0;
				width: 36px;
				min-width: 36px;
				max-width: 36px;
				height: 100px;
				background: none;

				div {
					height:100px;
					width:36px;
					background-position: center;
					background-size: cover;
				}

				i {
					border-radius: 200px;
					text-align:center;
					border-radius:200px;

					&.middle {
						margin: auto;
						position: absolute;
						top: 0; left: 0; bottom: 0; right: 0;
						color:$light;
						height:35px;
						width:35px;
						line-height:38px;
						font-size:20px;
						background:#ccc;
					}

				}

			}

			.multipleMedia {

				.scroll{
					display: flex;

					a {
						height:100px;
						width:100px;
						min-width: 100px;
						max-width: 100px;
						padding:0px;
						border-radius:0px;
						background:rgba(0,0,0,0.2);
						margin: 0 5px 0 0;

						div {
							height:100px;
							width:100px;
							background-position: center;
							background-size: cover;
						}

						i {
							text-align:center;
							border-radius:200px;

							&.middle {
								margin: auto;
								position: absolute;
								top: 0; left: 0; bottom: 0; right: 0;
								color:$dark;
								height:35px;
								width:35px;
								line-height:38px;
								font-size:20px;
								background:$light;
							}

							&.bottom-left {
								color:$light;
								position:absolute;
								bottom:5px;left:5px;
								height:25px;
								width:25px;
								line-height:27px;
								background:rgba(0,0,0,0.5);
							}

						}

					}

				}

			}

		}

	}

	.bar{

		padding: 0;

		&.bar-footer{

			.button{
				margin: 0;
				border: none;
				border-radius: 0;
				font-size: 14px;
			}

		}

	}

}






/* temporary popup */
.popover{
	left: 5px !important;
	width: 97%;

	.scroll-content{

		.item:first-child{
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		.item:last-child{
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}

	}

}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.gallery-view {
	background: black !important;
	top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;

	.button {
		position:absolute;
		right:10px;
		top:10px;
		z-index:999 !important;
		font-size:30px;
		&::before {
		font-size:30px;
		}
	}

	.slider-slide {
		width: 100vw !important;
	}

	.container{
		height: 100% !important;
	}

	.scrollCanvas {
	  width: 100% !important;
	  height: 100% !important;
	}

	.image-gallery {
	  	width: 100%;
	  	background-size: contain;
	  	background-repeat: no-repeat;
	  	background-position: center, center;
	  	object-fit: contain;
	  	margin-top: 8vh;
	  	height: 84vh !important;
	  	width: 100vw !important;
	}

}



.search-close {
	position: absolute;
    right: 20px;
    top: 5px;
}



/* Media queries */

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

.pane .community-content .card {
    margin: 10px 10%;

    &.card-community .item.item-image{
    	padding: 0;

    	.frontImage{

    	}
    }

    &.card-community .item{
    	padding: 15px;

		.row + .row{
			padding-top: 10px;
		}
    }

    &.card-community .item h2 {
    	font-size: 20px;
	}

    &.card-community .item h5 {
    	font-size: 18px;
	}

	&.card-community .item .post-content{
	    font-size: 18px;
	    line-height: 22px;
	}

	&.card-community .item .post-meta{
	    font-size: 16px;
	}

	&.card-community .bottom-row{
	    padding: 0;
	}

	.slider-slide{

		&.slide-comments{

			.item-avatar-left{
				padding: 15px 15px 15px 70px;

				img{
					top: 15px;
					left: 15px;
				}

			}

		}

		&.slide-likes{

			.item-avatar-left{
				padding: 0;

				a.item-content{
					padding: 15px 15px 15px 70px;

					img{
						top: 15px;
						left: 15px;
					}

				}

			}

		}

	}

}

    }

/* iPhone 6+ */
@media only screen and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {



    }

/* iphone 6 */
@media only screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {



    }

/* HTC One / Sony Xperia Z / Samsung Galaxy S5 */
@media only screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {



    }

/* Samsung Galaxy S4 */
@media only screen and (device-width: 320px) and (device-height: 640px) and (orientation: portrait) {



    }

/* iphone 5/5s */
@media only screen and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {



    }

/* iphone 4 */
@media only screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {



    }
