 <ion-view class="community-view">
 	<ion-nav-title>
 		{{vm.personName ? vm.personName : feature.name}}
 	</ion-nav-title>
	<ion-nav-buttons side="right">
		<div class="button button-icon ion-ios-people" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ng-if="!vm.personPosts" ui-sref="app.directory"></div>
	</ion-nav-buttons>

	<ion-header-bar ng-show="vm.communities &&!vm.personPosts" class="bar-subheader item-input-inset bar-light" ng-click="vm.scrollTop()">
		<i class="icon ion-ios-search"></i>
		<div class="item-input-wrapper">
			<form action="." ng-submit="$event.preventDefault();vm.goSearch(searchQuery)" style="width:100%;" pretty-submit>
				<input type="search" placeholder="Search" ng-model="searchQuery" style="width:100%;">
				<button class="button button-icon icon ion-ios-close-empty search-close" ng-if="searchQuery.length" ng-style="{'right':vm.searchCloseMargin}" ng-click="vm.clearSearch()" type="button"></button>
			</form>
		</div>
		<button class="button button-icon" ng-click="vm.openFilterPopover($event)" ng-if="vm.communities.length > 1">
			<span ng-style="{'color':$root.config.global.theme.communities.filter.textColor}">Filters {{vm.filterCount > 0 ? '('+vm.filterCount+')' : ''}}</span>
			<i class="icon ion-ios-arrow-down" ng-style="{'color':$root.config.global.theme.communities.filter.textColor}"></i>
		</button>
	</ion-header-bar>

	<ion-header-bar ng-if="vm.searchActivated" class="bar-subheader item-input-inset filtered-bar" ng-style="{'background':$root.config.global.theme.communities.filter.textColor, 'color':'white'}">
		<div ng-click="vm.clearSearch()">
			<!-- <i class="ion-ios-close"></i> -->
			Search results
		</div>
	</ion-header-bar>

<!-- 	<ion-header-bar ng-if="$root.searchQuery.length > 0" class="bar-subheader item-input-inset bar-stable filtered-bar">
		<div class="" ng-click="vm.clearSearch()">
			Search results found ({{vm.posts.length}})
		</div>
	</ion-header-bar> -->

	<ion-content class="community-content" ng-class="vm.searchActivated?'':''">

		<br ng-if="vm.searchActivated"/>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.refreshFeed()"></ion-refresher>

		<div class="intro light-bg" ng-if="feature.options.intro.text">
			<div class="col col-15">
				<i ng-class="feature.options.intro.icon"></i>
			</div>
			<div class="col">
				<p ng-bind="feature.options.intro.text"></p>
			</div>
		</div>

		<div class="card card-community" ng-repeat="post in vm.posts | orderBy:'-date'" ng-if="post.status == '1' || post.author._id == currentUser._id || currentUser.role == 'admin'" >

			<!-- <div class="row perm-status" ng-if="post.communityInfo.myPermission == 1 && currentUser.role != 'admin'">
				Permission needed to post in this community.
			</div> -->

      <div ng-if="vm.personPosts" class="upper-spacing"></div>

			<ion-item class="item-image" ng-if="post.attachments[0].thumbname || post.attachments[0].previewname" ng-click="vm.openGalleryModal(post)">
				<img class="placeholderImage" ng-if="post.attachments[0]" src="img/image_placeholder.png" />
				<img src="img/play4videos.png" class="play4Video" ng-if="post.attachments[0].type == 'video'"/>
        <img
          ng-srcset="{{post.attachments[0].type == 'video' ? imgixReplace(post.attachments[0].previewname)+imgixParameters:imgixReplace(post.attachments[0].filename)+imgixParameters}} 1x,
                      {{ post.attachments[0].type == 'video' ? imgixReplace(post.attachments[0].previewname)+imgixParameters+'&dpr='+deviceDPR:imgixReplace(post.attachments[0].filename)+imgixParameters+'&dpr='+deviceDPR}} {{deviceDPR}}x"
          ng-src="{{post.attachments[0].type == 'video' ? imgixReplace(post.attachments[0].previewname)+imgixParameters : imgixReplace(post.attachments[0].filename)+imgixParameters}}" class="frontImage"/>
				<div class="moreMedia" ng-if="post.attachments.length > 1">
						+{{post.attachments.length - 1}}
				</div>
			</ion-item>
			<ion-item class="item-text-wrap">
				<div class="row">
					<div class="col-80" ng-click="vm.detailedView(post)">
						<h2 dir="auto" ng-bind="post.title"></h2>
					</div>
					<div class="col-10">
						<span ng-switch="post.status" ng-if="post.author._id == currentUser._id || currentUser.role == 'admin'" ng-click="vm.openMorePopover($event, post)">
							<span class="item-note status royal-bg" ng-switch-when="0">
								<i class="icon ion-android-time"></i>
							</span>
							<span class="item-note status balanced-bg" ng-switch-when="1">
								<i class="icon ion-android-done"></i>
							</span>
							<span class="item-note status positive-bg" ng-switch-when="2">
								<i class="icon ion-android-close"></i>
							</span>
							<span class="item-note status positive-bg" ng-switch-default>
								<i class="icon ion-android-close"></i>
							</span>
						</span>
					</div>
					<div class="col-10">
						<span class="item-note options" ng-click="vm.openMorePopover($event, post)"><i class="icon ion-ios-arrow-down"></i></span>
					</div>
				</div>
				<!-- <div class="row" ng-click="vm.detailedView(post)">
					<div class="post-content">
						<div dir="auto">
							{{ post.content | limitTo:120 }}
							<span ng-if="post.content.length > 120"> &hellip;</span>
						</div>
					</div>
				</div> -->

        <div  dir="auto" class="row" ng-click="vm.detailedView(post)">
					<div class="post-content">
						<span compile="post.content | limitTo:120"></span>
            <span ng-if="post.content.length > 120"> &hellip;</span>
					</div>
				</div>

				<div class="row" ng-click="vm.detailedView(post)">
					<div class="post-meta">
						<span class="">{{ post.date | date:'dd MMM HH:mm' }} | <i class="ion-locked" ng-if="post.communityInfo.myPermission == 1 && currentUser.role != 'admin'"></i> <span>{{ post.communityInfo.name }}</span>
					</div>
				</div>
			</ion-item>
			<ion-item class="bottom-row">

				<img ng-if="post.author.avatar" ng-src="{{ post.author.avatar ? post.author.avatar+'?'+vm.getTimeStamp : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" class="profile-dummy"  ui-sref="app.directory-detail({userId:post.author._id})"/>
        <div ng-if="!post.author.avatar" class="avatar-circle" ng-class="'color-' + generateAvatarColor(post.author.first_name + post.author.last_name)" style="">
          <span class="initials" style="">{{post.author.first_name | uppercase | limitTo:1}}{{post.author.last_name | uppercase | limitTo:1}}</span>
        </div>

				<div class="button button-icon tag item-text-wrap" ng-bind="post.author.first_name+' '+post.author.last_name" ui-sref="app.directory-detail({userId:post.author._id})" style="position: relative; left: 47px;"></div>
		        <div ng-disabled="post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" class="button button-comment button-icon" ng-click="vm.detailedView(post)">
		            <i class="icon ion-chatbox"></i>
		            <span class="" ng-bind="post.comments.length"></span>
		        </div>
		        <div ng-disabled="post.communityInfo.myPermission == 1 && currentUser.role != 'admin'" class="button button-like button-icon" ng-click="vm.likePost(post)">
		            <i class="icon ion-thumbsup" ng-style="{'color':post.liked ? $root.config.global.theme.communities.like.iconColor:''}"></i>
		            <span ng-style="{'color':post.liked ? $root.config.global.theme.communities.like.iconColor:''}" ng-bind="post.likes.length"></span>
		        </div>
			</ion-item>
		</div>
		<div class="bottom-spacing"></div>
		<ion-infinite-scroll ng-if="vm.moreDataCanBeLoaded" on-infinite="vm.loadMoreData()" immediate-check="false" distance="1%"></ion-infinite-scroll>
	</ion-content>

	<ion-footer-bar class="floatingFooterIcon">
			<div class="button write-post" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }" ng-click="vm.postModal._isShown ? vm.closePostModal() : vm.openPostModal()" ng-if="vm.writePermission || currentUser.role == 'admin'">
				<i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-edit"></i>
				<!-- <i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-edit" ng-if="!vm.postModal._isShown"></i> -->
				<!-- <i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-android-close" ng-if="vm.postModal._isShown"></i> -->
				<!-- Write post -->
			</div>

	</ion-footer-bar>


	<script id="filter-popover.html" type="text/ng-template">
	  <ion-popover-view class=""  ng-style="{'height':vm.popoverHeight+'px'}">
    	<ion-footer-bar ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }" ng-click="vm.closeFilterPopover()" style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
			<h2 class="title" ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }">Close</h2>
    	</ion-footer-bar>
	    <ion-content has-bouncing="true">
	    	<ion-item class="item-icon-right" ng-click="vm.clearFilters()" ng-style="{'color':$root.config.global.theme.communities.newContentIcon.backgroundColor }">
	    		<strong>Clear all filters</strong>
	    		<i class="icon ion-ios-refresh"></i>
	    	</ion-item>
	    	<ion-item class="item-icon-right" ng-repeat="community in vm.communities" ng-if="community.myPermission != 0" ng-click="vm.selectFilter($index)">
	    		{{ community.name }}
	    		<i ng-if="community.selected" style="font-size:22px;" ng-style="{'color':$root.config.global.theme.communities.newContentIcon.backgroundColor }" class="icon ion-checkmark"></i>
	    	</ion-item>
	    </ion-content>
	  </ion-popover-view>
	</script>
	<script id="more-popover.html" type="text/ng-template">
	  <ion-popover-view ng-style="{'height':((vm.popoverItems-1)*53)+68+'px'}">
	    <ion-content scroll="false">
	    	<ion-list>
		    	<ion-item class="item-icon-left" ng-if="vm.post.author._id == currentUser._id  && vm.post.communityInfo.myPermission == 3 || currentUser.role == 'admin'">

					<span ng-switch="vm.post.status">
						<span ng-switch-when="0">
							<i class="icon ion-android-time"></i>
							Awaiting approval
						</span>
						<span ng-switch-when="1">
							<i class="icon ion-ios-checkmark-empty"></i>
							Approved
						</span>
						<span ng-switch-when="2">
							<i class="icon ion-ios-close"></i>
							Rejected
						</span>
						<span ng-switch-default>
							<i class="icon ion-ios-close"></i>
							Rejected
						</span>
					</span>

		    	</ion-item>
		    	<ion-item class="item-icon-left" ng-click="vm.openEditPostModal(post)" ng-if="vm.post.author._id == currentUser._id && vm.post.communityInfo.myPermission == 3 || currentUser.role == 'admin'">
		    		<i class="icon ion-edit"></i>
		    		Edit post
		    	</ion-item>
		    	<ion-item class="item-icon-left" ng-click="vm.deletePost(post)" ng-if="vm.post.author._id == currentUser._id && vm.post.communityInfo.myPermission == 3|| currentUser.role == 'admin'">
		    		<i class="icon ion-trash-b"></i>
		    		Delete post
		    	</ion-item>
		    	<ion-item class="item-icon-left" ng-click="vm.subscribe(vm.post)">
		    		<i class="icon ion-ios-bell" ng-style="{'color':vm.post.subscribed ? $root.config.global.theme.communities.newContentIcon.backgroundColor:'' }"></i>
		    		<p ng-style="{'color':vm.post.subscribed ? $root.config.global.theme.communities.newContentIcon.backgroundColor:'' }">{{ vm.post.subscribed ? 'Unsubscribe from alerts':'Subscribe to alerts' }}</p>
		    	</ion-item>
	    	</ion-list>
	    </ion-content>
	  </ion-popover-view>
	</script>
</ion-view>
