<div ng-switch="calendarMode">
    <div class="row calendar-navbar">
        <div class="nav-left col-15">
            <button type="button" class="btn btn-default btn-sm" ng-click="move(-1)"><i
                    class="glyphicon glyphicon-chevron-left"></i></button>
        </div>
        <div class="calendar-header col">{{title}}</div>
        <div class="nav-right col-15">
            <button type="button" class="btn btn-default btn-sm" ng-click="move(1)"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
</div>
