.pane {

	.library-content {
		background: $sc-light;
		.intro{
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			font-size: 5vw;
			line-height: 1.4;
			padding: 3vw;

			font-family: "Oswald-Regular";
			font-size: 4.5vw;
			color: #888;

			.col-15{
				text-align: center;

				i{
					position: relative;
				    font-size: 10vw;
				    transform: translateY(-50%);
				    top: 50%;
				}
			}

			p:last-of-type{
				margin-bottom: 0;
			}
		}

		.item-category{
			
		}

	}

}