<ion-view view-title="{{feature.name}}" class="calm-bg">
	<ion-content class="library-content">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.refreshLibrary()"></ion-refresher>
		<div class="intro light-bg" ng-if="vm.feature.options.intro.text">
			<div class="col col-15">
				<i ng-class="vm.feature.options.intro.icon"></i>
			</div>
			<div class="col">
				<p ng-bind="vm.feature.options.intro.text"></p>
			</div>
		</div>
		<div ng-repeat="category in vm.categories | orderBy:'name'">
            <div class="item-category row" ng-class="vm.feature.options.categoryBackgroundColor">
            	<div dir="auto" class="col">
                	{{category.name}}
                </div>
            </div>
            <ion-item ng-repeat="item in category.values | orderBy:'title'" class="item-light item-text-wrap" ng-click="iAB(item.libraryDocument, true, true)">
               <div  dir="auto">{{ item.title }}</div>
            </ion-item>
        </div>
	</ion-content>
</ion-view>
