<ion-modal-view class="stable-bg event-modal">

	<ion-header-bar>
        <div class="button button-icon back-button" ng-click="closeEventViewModal()">
            <i class="icon ion-ios-arrow-back"></i>
        </div>
        <div class="title" dir="auto">{{eventViewData.title}}</div>
	</ion-header-bar>

	<ion-content class="grey-content-bg">

        <div class="card" dir="auto">

					<ion-item class="item-image" ng-if="eventViewData.image.previewname">
						<img class="placeholderImage" src="img/image_placeholder.png" />
						<img
							ng-src="{{imgixReplace(eventViewData.image.filename)+imgixParameters}}"

							ng-srcset="{{imgixReplace(eventViewData.image.filename)+imgixParameters}} 1x,
		                      {{ imgixReplace(eventViewData.image.filename)+imgixParameters+'&dpr='+deviceDPR}} {{deviceDPR}}x"
		          ng-src="{{imgixReplace(eventViewData.image.filename)+imgixParameters}}"
							class="frontImage"
						/>

					</ion-item>
           <ion-item class="item-light event-detail-item item-text-wrap">
                <div class="row">
                    <h2>{{ eventViewData.title }}</h2>
                </div>
								<div><i class="ion-ios-clock-outline"></i> {{ eventViewData.startTime | date:'HH:mm dd MMM yyyy' }}</div>
								<div><i class="ion-ios-clock"></i> {{ eventViewData.endTime | date:'HH:mm dd MMM yyyy' }}</div>
								<div class="location" ng-if="eventViewData.location"><i class="ion-navigate"></i> {{ eventViewData.location }}</div>
                <div ng-if="eventViewData.attendees"><i class="ion-person-stalker"></i><span>{{eventViewData.attendees}}</span></div>
								<br>
								<div class="row">
                    <span compile="eventViewData.additionalNotes"></span>
                </div>
           </ion-item>
        </div>
    </ion-content>

</ion-modal-view>
<!-- End of detail view modal popup -->
