.ion-calendar::before {
	font-size:28px !important;
}

.pane {
	.events-content {

		.calendar-navbar {
			border:none;
			background:white;
		}

		table {
			background: white;
			margin-bottom:0px;
			thead {
				background: #f8f8f8;
			}
		}

		background: $sc-light;

		.monthview-selected div{
			background: $dark;
		}
		.monthview-selected.monthview-primary-with-event div {
			background: $dark;
		}
		.monthview-current div{
    		border: 2px solid $dark;
		}
		.btn{
			border: 0 !important;
			background: transparent;
		}


	}


}

.listView {
	.item-divider {
		border:none;
		color: white;
	}
}

.card-event {

	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
	border-radius:10px;
	box-shadow:none;
	padding:0px;
	padding-right:10px;

	.event-thumb {
		width:100px;
		height:100px;
		float:left;
		margin-right:10px;

		div {
			width:100px;
			height:100px;
			background:rgba(0,0,0,0.4);
			margin-top:0px;
		}

		.event-number {
			position: absolute;
			width: 100px;
			height:100px;
			padding-top:15px;
			top:29px;
			text-align: center;
			color: white;
			font-size: 45px;
			font-weight: bold;
		}

	}

	.location {
		color:#b0b0b0;
	}

	.title {
				margin-top:10px;
				font-size: 16px;
				color: black;
	}

	div {
		i {

		}
	}

}

.event-modal{

	.card{
	    margin: 5px 5px 0;
	    border-radius:5px;
	    box-shadow:none;
	    background: transparent;

			.item.item-image {
				min-height: 200px !important;
				padding: 0;

				.placeholderImage {
					position: absolute;
					top:0;left:0;
					z-index: -1;
				}

				.frontImage {
					top:0px;
					left:0px;
				  &.full-image {
				  	width:100%;
				  	max-height: none;
				  }
				}

			}

			.event-detail-item {
				margin-top:-8px;
			}

		.item{
				font-size:15px;
		    padding: 10px;

		    .row{
		    	padding: 0;
		    }

			.row + .row{
				margin: 0;
				padding-top: 5px;
			}

			h2{
				margin: 3px 0 0;
				font-size: 16.5px;
				font-family: "Avenir-Black";
				margin-bottom:10px;
			}

			p{
				display: inline;
				margin-bottom: 0;
			}

		}

	}

}
