 <ion-view view-title="{{feature.name}}">
   <ion-nav-buttons class="calendar-navbuttons"side="right">
     <button class="button button-icon ion-navicon-round" ng-style="{'color':!vm.calendarView ? $root.config.global.theme.communities.newContentIcon.backgroundColor : '#d0d0d0' }" ng-click="vm.calendarView = 0;scrollTop();"></button>
     <button class="button button-icon ion-calendar" ng-style="{'color':vm.calendarView == 1 ? $root.config.global.theme.communities.newContentIcon.backgroundColor : '#d0d0d0' }" ng-click="vm.calendarView = 1;scrollTop();"></button>
   </ion-nav-buttons>
	  <ion-content class="events-content" scroll="false" ng-show="vm.calendarView">

            <div class="well well-sm">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                          range-changed="reloadSource(startTime, endTime)"
                          event-selected="onEventSelected(event)"
                          time-selected="onTimeSelected(selectedTime)"></calendar>
            </div>

	  </ion-content>



    <ion-content class="events-content listView" ng-show="!vm.calendarView">
      <div ng-repeat="month in events" ng-show="events">
        <ion-item class="item-divider" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }">{{month[0].startTime|date:'MMMM yyyy'}}</ion-item>
        <ion-item class="card card-event" dir="auto" ng-click="onEventSelected(event)" ng-repeat="event in month | orderBy:'startTime'">
          <div class="event-thumb" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor, 'background-image':event.image.filename ? 'url('+imgixReplace(event.image.filename)+'?auto=format&ch=Save-Data&h=100&w=100&fit=crop&crop=entropy)' : ''}">
            <!-- imgixReplace(eventViewData.image.filename)+'?max-h='+deviceWidth*1.5+'&fit=crop&crop=entropy&min-h='+deviceWidth/2+'&w='+deviceWidth -->
            <div class="event-background"></div>
            <p class="event-number">{{event.date}}</p>
          </div>
          <p class="title">{{ event.title }}</p>
          <div><i class="ion-ios-clock-outline"></i> {{ event.startTime | date:'HH:mm dd MMM yyyy' }}</div>
          <div><i class="ion-ios-clock"></i> {{ event.endTime | date:'HH:mm dd MMM yyyy' }}</div>
          <p class="location" ng-if="event.location"><i class="ion-navigate"></i> {{ event.location }}</p>
        </ion-item>
      </div>
      <div ng-show="!events">
        <ion-item class="item-divider" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }">No events to display</ion-item>
      </div>
    </ion-content>

</ion-view>
