.pane {

	background: $sc-light;

	.questions-content {
		bottom: 0px;
		background: $sc-light;

		.intro{
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			font-size: 5vw;
			line-height: 1.4;
			padding: 3vw;

			font-family: "Oswald-Regular";
			font-size: 4.5vw;
			color: #888;

			.col-15{
				text-align: center;

				i{
					/*display: block;*/
					position: relative;
				    font-size: 10vw;
				    transform: translateY(-50%);
				    top: 50%;
				}
			}

			p:last-of-type{
				margin-bottom: 0;
			}

		}

		.card{
		    margin: 10px 5px 0;

		    border-radius:5px;
		    box-shadow:none;
		    background: transparent;


			.item{
			    padding: 10px;

			    .row{
			    	padding: 0;
			    }

				.row + .row{
					margin: 0;
					padding-top: 5px;
				}

				h2{
					margin: 3px 0 0;
					font-size: 16.5px;
					font-family: "Avenir-Black";
				}

				p{
					display: inline;
					margin-bottom: 0;
				}

			}

		}

	}

}





/* Media queries */

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

.pane .rssfeed-content .card {
    margin: 10px 10%;

	.item{
		padding: 15px;

		.row + .row{
			margin: 0;
			padding-top: 10px;
		}
	}

    .item h2 {
    	font-size: 20px;
	}

    .item h5 {
    	font-size: 18px;
	}

	.item .post-content{
	    font-size: 18px;
	    line-height: 22px;	
	}

	.item .post-meta{
	    font-size: 16px;
	}
}

    }

/* iPhone 6+ */
@media only screen and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {



    }  

/* iphone 6 */
@media only screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {



    }  

/* HTC One / Sony Xperia Z / Samsung Galaxy S5 */
@media only screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {



    }

/* Samsung Galaxy S4 */
@media only screen and (device-width: 320px) and (device-height: 640px) and (orientation: portrait) {



    }

/* iphone 5/5s */
@media only screen and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {



    }

/* iphone 4 */
@media only screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {



    }


