 <ion-view view-title="{{feature.name}}" class="">

		<ion-content class="questions-content">

			<div class="intro light-bg" ng-if="feature.options.intro.text">
				<div class="col col-15">
					<i ng-class="feature.options.intro.icon"></i>
				</div>
				<div class="col">
					<p ng-bind="feature.options.intro.text"></p>
				</div>
			</div>

			<div class="card" ng-repeat="question in vm.questions | orderBy:'-answeredAt'" ng-if="question.published">
				<ion-item class="item-body item-light">
					<div class="row">
						<h2>Q:</h2>&nbsp;<h2 dir="auto">{{ question.displayQuestion}}</h2>
					</div>
					<div class="row">
						A:&nbsp;
            <div  dir="auto" class="post-content">
							<div dir="auto" compile="question.answer"></div>
						</div>
					</div>
					<div class="row">
						<div class="post-meta">
							<span>{{ question.answeredAt | date | limitTo: 22 }}</span>
						</div>
					</div>
				</ion-item>
			</div>
			<br><br><br><br>
		</ion-content>



	<ion-footer-bar class="floatingFooterIcon">
		<div class="button write-post" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor }" ng-click="vm.openQuestionModal()">
			<i ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }" class="ion-android-create"></i> Ask a question
		</div>
	</ion-footer-bar>



	<script id="new-question-modal.html" type="text/ng-template">
	  <ion-modal-view class="post-modal comment">
	    <ion-content class="post-modal-content">
	    		<div class="closeIcon" ng-click="vm.closeQuestionModal()"">
		    		<i class="ion-ios-close"></i>
		    	</div>
		    	<h3 ng-style="{'color':$root.config.global.theme.communities.newContentIcon.backgroundColor }">Ask a question</h3>
				<label class="item item-input">
					<textarea dir="auto" type="text" rows="7" placeholder="Your question" ng-model="vm.question.originalQuestion"></textarea>
				</label>

	    </ion-content>
		<ion-footer-bar class="bar-dark button-bar">
			<button comment-submit ng-disabled="isDisabled" class="button button-full" ng-style="{'background':$root.config.global.theme.communities.newContentIcon.backgroundColor, 'color':'white' }" ng-class="vm.question.originalQuestion.length > 0 ? '':'disabled'" type="submit" ng-click="vm.postQuestion(vm.question);">
				<div ng-style="{'color':$root.config.global.theme.communities.newContentIcon.textColor }"><strong>Submit</strong></div>
			</button>
	    </ion-footer-bar>
	  </ion-modal-view>
	</script>
</ion-view>
