.pane {

	.signin-content {
	    /*position: absolute;
	    left: 0;			
	    right: 0;			
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);*/
	    margin-top: 20%;

	    .client-logo{
	    	margin: 0 auto;
	    	/*width: 75px;*/
	    	height: 75px;
	    	background-position: center center;
    		background-repeat: no-repeat;
    		background-size: contain;
	    }

	    form{
	    	padding: 4vw;

	    	label{
	    		margin-bottom: 6vw;
	    		padding: 3px 0 3px 10px;
	    		border: none;
	    		border-radius: 4px;

	    		input{
	    			font-size: 16px;
	    		}
	    	}

	    	.button{
	    		display: block;
	    		margin: 0 auto;
	    	}

	    }

	    .extratext{
	    	padding: 4vw;
	    	text-align: center;

	    	p a{
	    		text-decoration: none;
	    	}
	    	
	    }

	}

}