<ion-view hide-back-button="true"  view-title="Sign in" ng-style="{'background-image':'url('+imgixAssetURL+'/01-login-bg.png?auto=format&ch=Save-Data&max-h=2560&max-w=2560)'}">
	<ion-nav-buttons side="left">
		<div class="button button-icon" style="text-align: left; background: none;" ui-sref="app.start" nav-direction="back"><i class="icon ion-ios-arrow-back"></i></div>
	</ion-nav-buttons>

	<ion-content scroll="false" class="signin-content">

		<div class="client-logo" ng-style="{'background-image':'url('+imgixAssetURL+'/02-login-logo.png?auto=format&ch=Save-Data)'}"></div>

		<div class="padding max400">
			<form ng-submit="authenticateUser(userObject)">
				<label class="item item-input">
					<input type="{{ config.signin.form.username.type }}" ng-model="userObject.username" placeholder="{{ config.signin.form.username.label.text }}" autocapitalize="none">
				</label>
				<label class="item item-input">
					<input type="password" ng-model="userObject.password" placeholder="{{ config.signin.form.password.label.text }}" autocapitalize="none">
				</label>
				<button type="submit" class="button" ng-style="{'background':config.signin.form.submit.backgroundColor,'color':config.signin.form.submit.textColor}" ng-bind="config.signin.form.submit.text"></button>
			</form>

			<div class="extratext">
				<p ng-if="config.signup.methods.companydomain.enabled || config.signup.methods.nondesk.enabled" ng-class="config.signin.otherTextColor">Need to register? - <a ng-click="signinRoute()" ng-class="config.signin.otherTextColor">click here</a></p>
				<p ng-class="config.signin.otherTextColor" ng-click="requestPassword(userObject)">Request password</p>
			</div>
		</div>

	</ion-content>

	    <!-- <div class="about-info">
	        <p ng-class="config.signin.otherTextColor">Build version <span app-version></span></p>
	    </div> -->

</ion-view>
