.pane {

	background: white;

	&.directory-view {

		.bar-subheader{

			border-bottom: 1px solid #eee!important;

			i{
				font-size: 22px;
			}

			.item-input-wrapper{
				margin-left: 7px;

				input{
					padding-left: 0;
				}
			}

			.button{
				margin-left: 0;
				padding-right: 0;

				/*i{
					font-size: 22px;
				}*/
			}
		}

		.filtered-bar {
			height:22px;

			div {
				width:100%;
				text-align:center;
			}
		}
	}

	.directory-content {
		background: $sc-light;
		.card {
			margin: 5px;
		    border-radius: 5px;
		}

		.card-directory{
		    box-shadow:none;
		    background: transparent;

			.item-avatar-left {
				background:rgb(252,252,252);
			}

			/*inserted for circle color avatar*/
			.avatar-circle {
				/*position: absolute;
				width: 45px;
				height: 45px;
				margin-left:-60px;
				border-radius: 50%;
				border: 2px solid;*/

			    width: 40px;
			    height: 40px;
			    border-radius: 50%;
			    display: inline-block;
			    position: absolute;
			    top: 50%;
			    left: 16px;
			    transform: translateY(-50%);
				text-align: center;
			}

			.avatar-circle.color-0 {color: #fff;  background-color: #f41717;}
			.avatar-circle.color-1 {color: #fff;  background-color: #df4588;}
			.avatar-circle.color-2 {color: #fff;  background-color: #ae6acf;}
			.avatar-circle.color-3 {color: #fff;  background-color: #4f5fcd;}
			.avatar-circle.color-4 {color: #fff;  background-color: #62afcc;}
			.avatar-circle.color-5 {color: #fff;  background-color: #48c09a;}
			.avatar-circle.color-6 {color: #fff;  background-color: #55b33d;}
			.avatar-circle.color-7 {color: #fff;  background-color: #e2d61e;}
			.avatar-circle.color-8 {color: #fff;  background-color: #edab39;}
			.avatar-circle.color-9 {color: #fff;  background-color: #000000;}
			.avatar-circle.color-10 {color: #fff; background-color: #989898;}

			.initials {
				/*position: relative;
				top: 14px; 
				font-size: 20px; 
				line-height: 0px;
				font-weight: bold;*/

				font-size: 18px;
				line-height: 2.4;
			}

			.item-image {

				img {
				  display: block;
				  min-width:100%;
				  max-height:225px;
				  width: auto;
				  height: auto;
				  object-fit: cover;
				  object-position: 0 0;

				  &.full-image {
				  	width:100%;
				  	max-height: none;
				  }
				}

			}

			.item{
				font-size: 15px;
				border:none;

				h2 {
					margin: 0;
					font-size: 16px;
					/*font-family: Avenir-Black;*/
					/*line-height: 26px;*/
				}

				h5 {
					font-size: 14px;
    				margin: 6px 0 1px;
    				opacity: 0.4;
				}

				p {
					display: inline;
					margin-bottom: 0;
				}

			}



			.item{
				border-bottom: 2px solid $stable;
			}

			.item:first-child{
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
			}

			.item:last-child{
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
				border-bottom: none;
			}

		}

	}

}

.nav-bar-block .bar-header .button.ion-android-create {
	font-size: 20px;
	padding-top: 1px;
}

.disabledUserBar {
	background:#a6a6a6 !important;
	color:white !important;
	text-align:center;
}

.header-item {

	text-align: center;

	.edit-avatar-text {
		color:$light;
		font-weight:bold;
		background: rgba(50,50,50,0.7);
	    width: 44px;
	    border-radius: 10px;
	    font-size: 9px;
	    height: 18px;
	    position: absolute;
	    right: 3px;
	    bottom: 8px;
	    line-height: 18px;
	}
	.avatar-wrapper {
		position: relative;
	    width: 110px;
	    margin: 0 auto;

		img {
			border-radius: 10px;
		    width: 110px;
		    height: 110px;
			-webkit-box-shadow: 5px 5px 15px -3px rgba(140,140,140,1);
			-moz-box-shadow: 5px 5px 15px -3px rgba(140,140,140,1);
			box-shadow: 5px 5px 15px -3px rgba(140,140,140,1);
		}
	}

	h2 {
	    margin-top: 12px;
	    font-size: 20px;
	    font-family: AvenirNext-Medium;
	}

	a {

		&:nth-of-type(2) {
			margin-right:40px;
			font-size:27px;
		}
		color:white;
		text-decoration:none;
	}
}

.sub-header-item {
	a {
		font-size: 26px;
	    height: 10px;
	    border-radius: 50%;
	    margin-right: 5px;
	}

	.ion-email {
	    padding: 4px 10px 1px 10px;
	}

	.ion-ios-telephone {
		padding: 4px 12px 1px 12px;
	}
}

.body-item {
	h2 {
		font-size: 18px;
	    font-family: AvenirNext-DemiBold;
	}
}

.group-item {
 p {
 	margin-bottom: 7px;
 }
 margin-bottom: -10px;
}
