<!--
<ion-view view-title="Profile"  class="light-bg">
	<ion-nav-buttons side="right">
		<div ng-if="currentUser._id == vm.person._id" class="button ion-edit" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ui-sref="app.user-edit({userId:vm.person._id})"></div>
	</ion-nav-buttons>
	<ion-content>
		<ion-item class="item-divider disabledUserBar" ng-if="vm.person.disabled == 'true'">This user's profile is no longer active</ion-item>
		<ion-item class="header-item item-thumbnail-left item-icon-right item-dark">
		-->
			<!-- <img src="http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png" ng-click="vm.openFilePicker()" /> -->
			<!--
			<img ng-src="{{ vm.person.avatar+'?'+vm.getTimeStamp() ? vm.person.avatar : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" ng-click="vm.openFilePicker(vm.person)"/>

			<div class="edit-avatar-text" ng-if="vm.person._id == currentUser._id">Edit</div>
			<h2 class="light" ui-sref="app.directory-detail">{{vm.person.first_name}} {{vm.person.last_name}}</h2>
			<div ng-if="vm.person.disabled != 'true'">{{vm.person.department.name}}</div>
			{{vm.person.disabled != 'true' ? vm.person.location.name:''}}
			<a class="icon ion-email" ng-if="vm.person.disabled != 'true'" ng-href="mailto:{{vm.person.username}}"></a>
			<a class="icon ion-ios-telephone" ng-if="vm.person.info.telephone && vm.person.disabled != 'true'" ng-href="tel:{{vm.person.info.telephone}}"></a>
		</ion-item>

		<ion-item class="item-text-wrap" ng-if="vm.person.disabled != 'true'">
			<h3 class="dark">About me</h3>

			<p ng-if="!vm.person.info.aboutMe">Hello everyone.</p>
			<p ng-if="vm.person.info.aboutMe" compile="vm.person.info.aboutMe | linebreaks | parseUrlFilter:'_blank':'otherProperty'"></p>

			<br>
			<h3 class="dark">About my role</h3>

			<p ng-if="!vm.person.info.aboutMyRole">I work in the {{vm.person.department.name}} department located in {{vm.person.location.name}}. Please contact me for further details.</p>
			<p ng-if="vm.person.info.aboutMyRole" compile="vm.person.info.aboutMyRole | linebreaks | parseUrlFilter:'_blank':'otherProperty'"></p>

		</ion-item>
		<ion-item class="item-icon-right" ui-sref="app.community({featureIndex:0, person:vm.person._id, personName:vm.person.first_name+' '+vm.person.last_name})">
			<i class="icon ion-ios-arrow-right"></i>
			View posts by this person
		</ion-item>

	</ion-content>
</ion-view>
-->

<ion-view view-title="Profile"  class="light-bg">
	<ion-nav-buttons side="right">
		<div  class="button ion-android-create" ng-if="currentUser._id == vm.person._id" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ui-sref="app.user-edit({userId:vm.person._id})"></div>
	</ion-nav-buttons>
	<ion-content>
		<ion-item class="item-divider disabledUserBar" ng-if="vm.person.disabled == 'true'">This user's profile is no longer active</ion-item>
		<ion-item class="header-item border-none">
			<!-- <img src="http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png" ng-click="vm.openFilePicker()" /> -->
			<div class="avatar-wrapper">
				<img ng-src="{{ vm.person.avatar ? vm.person.avatar + '?' + vm.getTimeStamp() : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" ng-click="vm.openFilePicker(vm.person)"/>
				<div class="edit-avatar-text" ng-if="vm.person._id == currentUser._id">Edit <i class="icon ion-image"></i></div>
			</div>


			<h2 class="dark" ui-sref="app.directory-detail">{{vm.person.first_name}} {{vm.person.last_name}}</h2>
			<!-- <div class="gray" ng-if="vm.person.disabled != 'true'">{{vm.person.department.name}}</div> -->
			<!--{{vm.person.disabled != 'true' ? vm.person.location.name:''}} -->
		</ion-item>

		<ion-item class="sub-header-item border-none">
			<a class="icon ion-email" ng-if="vm.person.disabled != 'true' && vm.person.username" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ng-href="mailto:{{vm.person.username}}"></a>
			<a class="icon ion-ios-telephone" ng-if="vm.person.info.telephone && vm.person.disabled != 'true'" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ng-href="tel:{{vm.person.info.telephone}}"></a>
		</ion-item>

		<ion-item class="item-text-wrap border-none body-item group-item">
			<p><span class="gray">Location: </span>{{vm.person.location.name}}</p>
			<p><span class="gray">Department: </span>{{vm.person.department.name}}</p>
		</ion-item>

		<ion-item class="item-text-wrap border-none body-item" ng-if="vm.person.disabled != 'true'">
			<h2 class="dark">About me</h2>

			<p ng-if="!vm.person.info.aboutMe">Hello everyone.</p>
			<p dir="auto" ng-if="vm.person.info.aboutMe" compile="vm.person.info.aboutMe"></p>

			<br>
			<h2 class="dark">About my role</h2>

			<p ng-if="!vm.person.info.aboutMyRole">I work in the {{vm.person.department.name}} department located in {{vm.person.location.name}}. Please contact me for further details.</p>
			<p dir="auto" ng-if="vm.person.info.aboutMyRole" compile="vm.person.info.aboutMyRole"></p>

		</ion-item>
		<ion-item class="item-icon-right" ui-sref="app.community({featureIndex:0, person:vm.person._id, personName:vm.person.first_name+' '+vm.person.last_name})">
			<i class="icon ion-ios-arrow-right"></i>
			View posts by this person
		</ion-item>

	</ion-content>
</ion-view>
