<ion-view view-title="Directory" class="directory-view">
	<ion-nav-buttons side="right">
		<div class="button button-icon ion-ios-person" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}" ui-sref="app.directory-detail({userId:currentUser._id})"></div>
	</ion-nav-buttons>

	<ion-header-bar class="bar-subheader item-input-inset bar-light" ng-click="vm.scrollTop()">
		<i class="icon ion-ios-search"></i>
		<label class="item-input-wrapper">
			<input type="search" placeholder="Search" ng-model="vm.search">
		</label>
	</ion-header-bar>

	<ion-content class="directory-content">

		<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> -->
		<div class="card card-directory">
			<ion-item class="item-avatar-left item-text-wrap" ui-sref="app.directory-detail({userId:person._id})" ng-repeat="person in vm.people | toArray:false | orderBy:'first_name'| filter:vm.search" ng-if="person.disabled != 'true'">
				<!-- <div class="item-note button button-positive button-small button-outline">Follow</div> -->

				<img ng-if="person.avatar"  ng-src="{{ person.avatar ? person.avatar + '?' + vm.getTimeStamp : 'http://ota.staffconnectapp.com/miscellaneous/images/profile-dummy.png'}}" />
				<div ng-if="!person.avatar" class="avatar-circle" ng-class="'color-' + generateAvatarColor(person.first_name + person.last_name)">
					<span class="initials">{{person.first_name | uppercase | limitTo:1}}{{person.last_name | uppercase | limitTo:1}}</span>
				</div>
				<h2 class="tag" ng-bind="person.first_name +' '+ person.last_name"></h2>
				<span ng-bind="person.department.name"></span> in <span ng-bind="person.location.name"></span>

			</ion-item>
		</div>

	</ion-content>

</ion-view>
