<ion-view view-title="Edit Profile" class="light-bg">

	<ion-content>

		<div class="list">

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">About me</span>
		    <textarea dir="auto" ng-model="vm.person.info.aboutMe" rows="5" type="text" placeholder="Enter text"></textarea>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">About my role</span>
		    <textarea dir="auto" ng-model="vm.person.info.aboutMyRole" rows="5" type="text" placeholder="Enter text"></textarea>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Telephone</span>
		    <input ng-model="vm.person.info.telephone" type="tel" placeholder="Enter a contact number" />
		  </label>

		   <!-- <div class="button button-block button-positive" ng-click="vm.updatePerson(userInfo)">Update</div> -->
		</div>

	</ion-content>

	<ion-footer-bar class="button-bar">
		<div class="button button-block" ng-click="vm.updatePerson(userInfo)" ng-style="{'background':$root.config.global.theme.directory.icon.backgroundColor,'color':$root.config.global.theme.directory.icon.iconColor}">Update</div>
	</ion-footer-bar>

</ion-view>
