<ion-view view-title="StaffConnect" hide-back-button="true" class="StartView">
	<!-- <ion-nav-title>
		<img class="header-logo" src="/modules/start/logo.png" />
	</ion-nav-title> -->
	<ion-content scroll="false">
		<div class="padding enterid-content max400">
			<form ng-submit="retrieveServer(orgId)">
				<label class="item item-input">
					<input type="text" ng-model="orgId" placeholder="Organisation ID" autocapitalize="none">
				</label>
				<button class="button button-dark" type="submit">Enter</button>
			</form>
		</div>
	</ion-content>
    <div class="about-info">
        <p>Build version <span app-version></span></p>
        <p>Powered by</p>
        <p><span class="poweredBy">StaffConnect</span></p>
    </div>
</ion-view>