.StartView {
	background-image:url(../modules/start/pin-bg.png) !important;

	/*.item-input {
		border-radius:4px;
	}*/

	&.pane {

		.enterid-content {
		    position: absolute;	/* for Chrome & Safari */
		    left: 0;			/* for Chrome & Safari */
		    right: 0;			/* for Chrome & Safari */
		    top: 40%;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%);

		    form{
		    	padding: 4vw;

		    	label{
		    		margin-bottom: 6vw;
		    		padding: 3px 0 3px 10px;
		    		border: none;
		    		border-radius: 4px;

		    		input{
		    			font-size: 16px;
		    		}
		    	}

		    	.button{
		    		display: block;
		    		margin: 0 auto;
		    		background: #2d3642;
		    	}

		    }

		}

		.about-info{
			width: 100%; 
			position: fixed; 
			bottom: 20px; 
			text-align: center;
		}
		.about-info p:last-child{
			margin:0;
		}

	}

}



.header-logo {
	height: 44px;
    width: 100%;
    background-size: 180px auto;
    background-repeat: no-repeat;
    background-position: center;
}

