 <ion-view view-title="{{feature.name}}" class="">

		<ion-content class="rssfeed-content">

			<div class="intro light-bg" ng-if="feature.options.intro.text">
				<div class="col col-15">
					<i ng-class="feature.options.intro.icon"></i>
				</div>
				<div class="col">
					<p ng-bind="feature.options.intro.text"></p>
				</div>
			</div>

			<div class="card" ng-if="vm.feeds[0].type != 'custom'" ng-repeat="item in vm.feedItems" ng-click="iAB(item.link, true)">
				<ion-item class="item-body item-light">
					<div class="row">
						<h2>{{ item.title}}</h2>
					</div>
					<div class="row">
						<div class="post-content">
							<div style="display:inline;" ng-bind-html="to_trusted(item.description)"></div><span class="readmore">&nbsp;</span>
							</div>
						</div>
					<div class="row">
						<div class="post-meta">
							<span>{{ item.pubDate | limitTo: 22 }}</span>
						</div>
					</div>
				</ion-item>
			</div>

      <div class="card" ng-if="vm.feeds[0].type == 'custom'" ng-repeat="item in vm.feedItems" ng-click="iAB(item.link, true)">
				<ion-item class="item-body item-light">
					<div ng-repeat="field in item.customData">
						<h2 ng-if="field.type == 'header'">{{ field.trueValue }}</h2>
            <p ng-if="field.type == 'text'">
              <strong>{{field.label}}</strong> {{ field.trueValue }}
            </p>
            <div ng-if="field.type == 'paragraph'" class="post-content">
              <span dir="auto" compile="field.trueValue | limitTo:field.textLimit"></span>
              <span ng-if="field.trueValue.length > field.textLimit"> &hellip;</span>
						</div>
					</div>
          <span class="readmore">Read more</span>
				</ion-item>
			</div>
      <br>
		</ion-content>

</ion-view>
